{% set myswitch = leaf[inventory_hostname] %}
{% set spine_idx = myswitch.idx % 2 %}
{% set spine_port_idx = (myswitch.idx / 2 )|int %}


set chassis aggregated-devices ethernet device-count 64

{#
# T0-T1 p2p configuration
#}
{% for i in range( 0, 2 ) %}
set interfaces xe-0/0/{{i}} gigether-options 802.3ad ae{{i}}
set interfaces ae{{i}} unit 0 family inet address {{t1_t0_starting_ip_v4}}{{spine_idx*2 + i + 100}}.{{spine_port_idx*2+1}}/31
set interfaces ae{{i}} aggregated-ether-options minimum-links 1
set interfaces ae{{i}} aggregated-ether-options lacp active
{% endfor %}

{#
# T0 loopback0
#}
set interfaces lo0 unit 0 family inet address {{t0_starting_lo0_v4}}{{myswitch.idx+11}}/32
