{% set myswitch = spine[inventory_hostname] %}


set chassis aggregated-devices ethernet device-count 64

{#
# T1-T2 P2P interface configuration
set interfaces xe-0/0/{{i}} unit 0 family inet address {{t2_t1_starting_ip_v4}}{{10+i}}.{{myswitch.idx*2 + 1}}/31
#}
{% for i in range( 0, spine.t2_devices) %}
set interfaces xe-0/0/{{i}} gigether-options 802.3ad ae{{i}}
set interfaces ae{{i}} unit 0 family inet address {{t2_t1_starting_ip_v4}}{{10+i}}.{{myswitch.idx*2 + 1}}/31
set interfaces ae{{i}} aggregated-ether-options minimum-links 1
set interfaces ae{{i}} aggregated-ether-options lacp active
{% endfor %}


{#
# T1-T0 P2P configuration
#}
{% for i in range( 0, t1_t0_port_number) %}
set interfaces xe-0/0/{{i+2}} gigether-options 802.3ad ae{{i+2}}
set interfaces ae{{i+2}} unit 0 family inet address {{t1_t0_starting_ip_v4}}{{myswitch.idx + 100}}.{{i*2}}/31
set interfaces ae{{i+2}} aggregated-ether-options minimum-links 1
set interfaces ae{{i+2}} aggregated-ether-options lacp active
{% endfor %}

{#
# T2T1 loopback0
#}
set interfaces lo0 unit 0 family inet address {{t2t1_starting_lo0_v4}}{{myswitch.idx+spine.t2_devices+1}}/32
