{% set myswitch = spine[inventory_hostname] %}

set chassis aggregated-devices ethernet device-count 64

{#
# T2 P2P interface configuration
#}
{% for i in range( 0, spine.t1_devices) %}
set interfaces xe-0/0/{{i}} gigether-options 802.3ad ae{{i}}
set interfaces ae{{i}} unit 0 family inet address {{t2_t1_starting_ip_v4}}{{10+myswitch.idx}}.{{i*2}}/31
set interfaces ae{{i}} aggregated-ether-options minimum-links 1
set interfaces ae{{i}} aggregated-ether-options lacp active
{% endfor %}

{#
# T2 P2P interface configuration

{% for i in range( 0, spine.t1_devices) %}
set interfaces xe-0/0/{{i}} unit 0 family inet address {{t2_t1_starting_ip_v4}}{{10+myswitch.idx}}.{{i*2}}/31
{% endfor %}
#}

{#
# T2T1 loopback0
#}
set interfaces lo0 unit 0 family inet address {{t2t1_starting_lo0_v4}}{{myswitch.idx+1}}/32
