{# make sure leaf pair share the same AS #}
{% if leaf_index % 2 == 1 %}
   {% set peer_as_index =  (leaf_index / 2) | int  + 1 %}
{% else %}
   {% set peer_as_index =  (leaf_index / 2) | int %}
{% endif %}

{% set asn_string = (leaf_asn_seed + peer_as_index) | string %}

ip as-path access-list local_originated permit ^$

route-map evpn-out permit 10
match as-path local_originated

router bgp {{asn_string}}
    router-id {{loopback0_seed}}.{{level_index}}.{{leaf_index}}
   {% include "bgp_universal.j2" %}

   template peer {{v4_to_spine_underlay}}
     bfd
     password {{bgp_password}}
     address-family ipv4 unicast
      send-community extended

   template peer {{v6_to_spine_underlay}}
     password {{bgp_password}}
     address-family ipv6 unicast
      send-community extended

    template peer {{v4_to_spine_overlay}}
       bfd
       password {{bgp_password}}
       ebgp-multihop {{ebgp_multihop}}
       update-source Loopback0
       address-family l2vpn evpn
        route-map evpn-out out
        send-community extended
    template peer {{v4_to_leaf_overlay}}
       bfd
       password {{bgp_password}}
       ebgp-multihop {{ebgp_multihop}}
       update-source Loopback0
       address-family l2vpn evpn
          send-community extended
