{# make sure leaf pair share the same AS #}
{% if leaf_index % 2 == 1 %}
   {% set peer_as_index =  (leaf_index / 2) | int  + 1 %}
{% else %}
   {% set peer_as_index =  (leaf_index / 2) | int %}
{% endif %}
{% set asn_string = (leaf_asn_seed + peer_as_index) | string %}



router bgp {{asn_string}}
{% for fabric in fab_interfaces %}
  {% if fabric.peer_role == "spine" %}
    {% for i in range ( fabric.local_link_index | length) %}

      {% set combined_port_index = (((fabric.spine_link_index[i])-1) *4) | int + fabric.spine_link_subindex[i] %}

      {% set local_v4address_to_spine = ((fabric.spine_index[i] - 1) * 256 + (combined_port_index - 1) *2 + 1) %}
      {% set remote_ip_last_octet_on_spine = ((local_v4address_to_spine - 1) % 256) | string %}
      {% set remote_ip_3rd_octet_on_spine = ((((local_v4address_to_spine - 1) / 256 | int) + v4_p2p_t0t1_seed) | int) | string %}

      {# make sure spine group share the same AS #}
      {% if fabric.spine_index[i] % 4 != 0  %}
        {% set spine_as_index =  (fabric.spine_index[i] / 4) | int  + 1 %}
      {% else %}
        {% set spine_as_index =  (fabric.spine_index[i] / 4) | int %}
      {% endif %}
      {% set remote_as = (spine_asn_seed + spine_as_index) | string %}

  neighbor {{v4_p2p_seed}}.{{remote_ip_3rd_octet_on_spine}}.{{remote_ip_last_octet_on_spine}} remote-as {{remote_as}}
    inherit peer {{v4_to_spine_underlay}}
    description "{{fabric.peer_role}} {{fabric.spine_index[i]}}"

  neighbor {{v6_p2p_seed}}:{{remote_ip_3rd_octet_on_spine}}:{{remote_ip_last_octet_on_spine}} remote-as {{remote_as}}
    inherit peer {{v6_to_spine_underlay}}
    description "{{fabric.peer_role}} {{fabric.spine_index[i]}}"


  neighbor {{loopback0_seed}}.{{upper_level_index}}.{{fabric.spine_index[i]}} remote-as {{remote_as}}
    inherit peer {{v4_to_spine_overlay}}
    description "{{fabric.peer_role}} {{fabric.spine_index[i]}} overlay"

    {% endfor %}
  {% endif %}
{% endfor %}
