

interface loopback0
  description IPV4 Management Loopback
  ip address {{loopback0_seed}}.{{level_index}}.{{leaf_index}}/32

interface loopback60
  description IPV6 Management Loopback
  ipv6 address {{loopback60_seed}}:{{level_index}}:{{leaf_index}}/128

{% for fabric in fab_interfaces %}
    {% if fabric.peer_role == "spine" %}
      {% for i in range ( fabric.local_link_index | length) %}
        {% set combined_port_index = (((fabric.spine_link_index[i] | int)-1) *4) + fabric.spine_link_subindex[i] %}

        {% set local_v4address_to_spine = ((fabric.spine_index[i] - 1) * 256 + (combined_port_index - 1) * 2 + 1) %}
        {% set local_ip_last_octet_to_spine = (local_v4address_to_spine % 256) | string %}
        {% set local_ip_3rd_octet_to_spine = (((local_v4address_to_spine / 256) | int) + v4_p2p_t0t1_seed) | string %}

interface {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}}
    description PHY|{{leaf_uplink_speed}}|EBGP|rhost:spine{{fabric.spine_index[i]}}|rport:Eth{{fabric.spine_link_index[i]}}.{{fabric.spine_link_subindex[i]}}
    channel-group {{fabric.local_link_index[i]}} mode active
    no shutdown


interface port-channel {{fabric.local_link_index[i]}}
    description Bundle|{{leaf_uplink_speed}}|EBGP|rhost:spine{{fabric.spine_index[i]}}|rport:PO{{combined_port_index}}
    no switchport
    ip address {{v4_p2p_seed}}.{{local_ip_3rd_octet_to_spine}}.{{local_ip_last_octet_to_spine}}/31
    ipv6 address {{v6_p2p_seed}}:{{local_ip_3rd_octet_to_spine}}:{{local_ip_last_octet_to_spine}}/127
    ip pim sparse-mode
    no shutdown

      {% endfor %}
    {% endif %}

    {% if fabric.peer_role == "peer" %}
      {% set portchannel_group_no = fabric.local_link_index[0] %}

      {% for i in range ( fabric.local_link_index | length) %}

interface {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}}
    description PHY|{{leaf_uplink_speed}}|cross-link|rhost:leaf{{fabric.peer_index[i]}}|rport:Eth{{fabric.local_link_index[i]}}
    channel-group {{portchannel_group_no}}  mode active
    no shutdown

      {% endfor %}


interface port-channel {{portchannel_group_no}}
    description Bundle|{{leaf_uplink_speed}}|cross-link|rhost:leaf{{fabric.peer_index[0]}}|rport:PO{{portchannel_group_no}}
    switchport mode trunk
    spanning-tree port type network
    vpc peer-link
    no shutdown

    {% endif %}

    {% if fabric.peer_role == "server" %}
    {% set portchannel_group_no = fabric.local_link_index[0] %}
      {% for i in range ( fabric.local_link_index | length) %}

vlan {{fabric.server_vlan_index[i]}}
name VLAN_{{fabric.server_vlan_index[i]}}

interface {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}}
  description PHY|{{fabric.server_link_speed[i]}}|server|rhost:server{{fabric.server_index[i]}}|rport:Eth{{fabric.server_link_index[i]}}
  channel-group {{fabric.local_link_index[i]}} mode active
  no shutdown


interface port-channel {{fabric.local_link_index[i]}}
  description Bundle|{{fabric.server_link_speed[i]}}|cross-link|rhost:leaf{{fabric.server_index[i]}}|rport:PO{{portchannel_group_no}}
  switchport access vlan {{fabric.server_vlan_index[i]}}
  vpc {{fabric.local_link_index[i]}}
  no shutdown

      {% endfor %}
    {% endif %}
{% endfor %}
