
vrf context vpc_ka

{% if (leaf_index % 2) == 1 %}
  {% set keepalive_local_lastoctet = 1 | string  %}
  {% set keepalive_remote_lastoctet = 2 | string  %}
{% else %}
  {% set keepalive_local_lastoctet = 2 | string  %}
  {% set keepalive_remote_lastoctet = 1 | string  %}
{% endif %}

interface {{intf_name_designation}}{{intf_separator}}{{vpc_peer_link_index}}
  description vPC-peer-keepalive
  no shutdown
  no switchport
  vrf member vpc_ka
  ip address {{vpc_keep_alive_seed}}.{{keepalive_local_lastoctet}}/30


vpc domain 1
  role priority 1
  peer-keepalive destination {{vpc_keep_alive_seed}}.{{keepalive_remote_lastoctet}} source {{vpc_keep_alive_seed}}.{{keepalive_local_lastoctet}} vrf vpc_ka
  auto-recovery
