green_vlan_l3vni
{# make sure leaf pair share the same AS #}
{% if leaf_index % 2 == 1 %}
   {% set peer_as_index =  (leaf_index / 2) | int  + 1 %}
{% else %}
   {% set peer_as_index =  (leaf_index / 2) | int %}
{% endif %}

{% set asn_string = (leaf_asn_seed + peer_as_index) | string %}

fabric forwarding anycast-gateway-mac 0001.0001.0001

router bgp {{asn_string}}
  vrf {{green_vrf_l3vni}}
    address-family ipv4 unicast
    advertise l2vpn evpn

evpn
  rd auto
  route-target both auto
  route-target both auto evpn

{% for vni in vnis %}
  {% if vni.color == "green" %}
  {% set green_l3vni = (green_vn_segment_seed + vni.green_vlan_l3vni) | string %}

vlan {{green_vlan_l3vni}}
 name L3-VNI-VLAN-{{green_vlan_l3vni}}

vrf context {{green_vrf_l3vni}}
  rd auto
  vni {{green_l3vni}}
  address-family ipv4 unicast
  route-target both auto
  route-target both auto evpn
  address-family ipv6 unicast
  route-target both auto
  route-target both auto evpn

interface Vlan{{green_vlan_l3vni}}
  no shutdown
  vrf member {{green_vrf_l3vni}}
  ip forward

interface nve1
   no shutdown
   source-interface loopback0
   host-reachability protocol bgp
   member vni {{green_l3vni}} associate-vrf
   suppress-arp
   mcast-group 239.1.1.10

     {% for i in range ( vni.green_vxlan_vlan | length) %}
     {% set green_vni_seg = (green_vn_segment_seed + vni.green_vxlan_vlan[i]) | string %}

vlan {{vni.green_vxlan_vlan[i]}}
  vn-segment {{green_vni_seg}}

interface Vlan{{vni.green_vxlan_vlan[i]}}
  no shutdown
  vrf member {{green_vrf_l3vni}}
  ip address {{vni.green_vxlan_subnet[i]}}
  fabric forwarding mode anycast-gateway

interface nve1
  member vni {{green_vni_seg}}

evpn
  vni {{green_vni_seg}} l2
     {% endfor %}
  {% endif %}
{% endfor %}
