{% set myserver = server[inventory_hostname] %}
# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eth0
iface eth0 inet dhcp

{#  Play with bonding... not working yet #}
# eth1 is manually configured, and slave to the "bond0" bonded NIC
auto eth1
iface eth1 inet manual
    bond-master bond0

# eth2 ditto, thus creating a 2-link bond.
auto eth2
iface eth2 inet manual
    bond-master bond0

# bond0
auto bond0
iface bond0 inet static
    address {{myserver.address}}
    gateway {{myserver.gateway}}
    netmask {{myserver.mask}}

    # bond0 uses standard IEEE 802.3ad LACP bonding protocol
    slaves eth1 eth2
    bond-mode 4
    bond-miimon 100
    bond-lacp-rate 1
    bond-slaves none
    

{#
auto eth1
iface eth1 inet static
      address {{myserver.address}}
      netmask {{myserver.mask}}
      gateway {{myserver.gateway}}
#}
