{% set myswitch = spine[inventory_hostname] %}
# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*.intf

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
{% if ansible_host == "127.0.0.1"%}
auto eth0
iface eth0 inet dhcp
{% else %}
auto eth0
iface eth0
  address  {{ansible_host}}/24
{% endif %}

{% if 't2' in group_names  %}
# The loopback network interface
auto lo
iface lo inet loopback
  address  {{t2t1_starting_lo0_v4}}{{myswitch.idx+1}}/32

# The primary t2 network interface
{% for i in range( 0, spine.t1_devices) %}
auto swp{{i+1}}
iface swp{{i+1}}
  address {{t2_t1_starting_ip_v4}}{{10+myswitch.idx}}.{{i*2}}/31
  mtu 9216
{% endfor %}
{% endif %}


{% if 't1' in group_names  %}
auto lo
iface lo inet loopback
  address   {{t2t1_starting_lo0_v4}}{{myswitch.idx+spine.t2_devices+1}}/32

# The primary t1 network interface  T1-T2 P2P interface configuration
{% for i in range( 0, spine.t2_devices) %}
auto swp{{i+1}}
iface swp{{i+1}}
  address {{t2_t1_starting_ip_v4}}{{10+i}}.{{myswitch.idx*2 + 1}}/31
  mtu 9216
{% endfor %}

# T1-T0 P2P configuration
{% for i in range( 0, t1_t0_port_number) %}
auto swp{{i+3}}
iface swp{{i+3}}
  address {{t1_t0_starting_ip_v4}}{{myswitch.idx + 100}}.{{i*2}}/31
  mtu 9216
{% endfor %}

{% endif %}


{#  Special S3/S4 underlay to rt2 bgp #}
{% if inventory_hostname == "s3" %}
auto swp6
iface swp6
  address 1.2.1.2/30
{% endif %}
{#  Special S3/S4 underlay to rt2 bgp #}
{% if inventory_hostname == "s4" %}
auto swp6
iface swp6
  address 1.2.2.2/30
{% endif %}
