{% set myswitch = spine[inventory_hostname] %}
#frr version 4.0+cl3u13
frr defaults datacenter
hostname {{inventory_hostname}}
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
router bgp  {{t1_starting_asn + (myswitch.idx / 2 )|int }}
  bgp router-id  {{t2t1_starting_lo0_v4}}{{myswitch.idx+spine.t2_devices+1}}
  bgp bestpath as-path multipath-relax
  bgp bestpath compare-routerid

  neighbor underlay_ipfabric peer-group
  neighbor underlay_ipfabric remote-as external
{% for i in range( 0, spine.t2_devices ) %}
  neighbor {{t2_t1_starting_ip_v4}}{{10+i}}.{{myswitch.idx*2}} peer-group underlay_ipfabric
{% endfor %}


  neighbor underlay_tor peer-group
  neighbor underlay_tor remote-as external
{% for i in range( 0, t1_t0_port_number) %}
  neighbor {{t1_t0_starting_ip_v4}}{{myswitch.idx + 100}}.{{i*2 + 1}} peer-group underlay_tor
{% endfor %}

{#
  neighbor overlay_evpn peer-group
  neighbor overlay_evpn remote-as external
  neighbor overlay_evpn ebgp-multihop 255
  neighbor overlay_evpn update-source lo
{% for i in range( 0, spine.t2_devices ) %}
  neighbor {{t2t1_starting_lo0_v4}}{{i+1}} peer-group  overlay_evpn
{% endfor %}

{% for i in range( 0, t1_t0_port_number) %}
  neighbor {{t0_starting_lo0_v4}}{{(myswitch.idx/2)|int  + i*2 +11}} peer-group  overlay_evpn
{% endfor %}

  address-family ipv4 unicast
    redistribute connected route-map LOOPBACK
    no neighbor overlay_evpn activate
    neighbor underlay_ipfabric activate
    neighbor underlay_tor activate
  exit-address-family
  !
  address-family l2vpn evpn
    neighbor overlay_evpn activate
    no neighbor underlay_ipfabric activate
    no neighbor underlay_tor activate
    advertise-all-vni
   exit-address-family
!
#}

route-map LOOPBACK permit 10
 match interface lo
!

line vty
