{% set myswitch = spine[inventory_hostname] %}
#frr version 4.0+cl3u13
frr defaults datacenter
hostname {{inventory_hostname}}
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
router bgp {{t2_asn}}
  bgp router-id {{t2t1_starting_lo0_v4}}{{myswitch.idx+1}}
  bgp bestpath as-path multipath-relax
  bgp bestpath compare-routerid
  neighbor underlay_ipfabric peer-group
  neighbor underlay_ipfabric remote-as external
{% for i in range( 0, spine.t1_devices ) %}
  neighbor {{t2_t1_starting_ip_v4}}{{10+myswitch.idx}}.{{i*2+1}} peer-group underlay_ipfabric
{% endfor %}

{#
  neighbor overlay_evpn peer-group
  neighbor overlay_evpn remote-as external
  neighbor overlay_evpn ebgp-multihop 255
  neighbor overlay_evpn update-source lo
{% for i in range( 0, spine.t1_devices ) %}
  neighbor {{t2t1_starting_lo0_v4}}{{i+spine.t2_devices+1}} peer-group overlay_evpn
{% endfor %}

  address-family ipv4 unicast
    redistribute connected route-map LOOPBACK
    no neighbor overlay_evpn activate
    neighbor underlay_ipfabric activate
  exit-address-family
  !
  address-family l2vpn evpn
    neighbor overlay_evpn activate
    no neighbor underlay_ipfabric activate
    advertise-all-vni
   exit-address-family
  !
#}
!
route-map LOOPBACK permit 10
 match interface lo
!

line vty
