


router bgp {{pe_asn}}
   maximum-paths 16
   router-id {{loopback0_seed}}.{{level_index}}.{{pe_index}}
   neighbor {{v4_to_borderleaf}} peer-group
   neighbor {{v4_to_borderleaf}} password {{bgp_password}}
   neighbor {{v4_to_borderleaf}} send-community extended
   neighbor {{v4_to_borderleaf}} maximum-routes {{underlay_maxroutes}}
   neighbor {{v6_to_borderleaf}} peer-group
   neighbor {{v6_to_borderleaf}} password {{bgp_password}}
   neighbor {{v6_to_borderleaf}} send-community extended
   neighbor {{v6_to_borderleaf}} maximum-routes {{underlay_maxroutes}}

   redistribute connected route-map CONNECTED-TO-BGP

   address-family ipv4
      neighbor {{v4_to_borderleaf}} activate
      no neighbor {{v6_to_borderleaf}} activate
      neighbor {{v4_to_borderleaf}} route-map V4-DEFAULT-ONLY out

   address-family ipv6
      neighbor {{v6_to_borderleaf}} activate
      no neighbor {{v4_to_borderleaf}} activate
      neighbor {{v6_to_borderleaf}} route-map V6-DEFAULT-ONLY out
