


router bgp {{pe_asn}}
{% for intf in interfaces %}
   {% for i in range ( intf.local_link_index | length) %}
     {% set local_v4address_to_borderleaf = (((pe_index -1) * 64) + ((intf.local_link_index[i] - 1) *2)) %}
     {% set remote_ip_last_octet_on_borderleaf = ((local_v4address_to_borderleaf +1) % 256) | string %}
     {% set remote_ip_3rd_octet_on_borderleaf = ((((local_v4address_to_borderleaf +1) / 256) | int) + v4_p2p_bl_pe_seed)| string %}


     {# make sure leaf pair share the same AS #}
     {% if intf.peer_index[i] % 2 == 1 %}
       {% set leaf_as_index =  (intf.peer_index[i] / 2) | int  + 1 %}
     {% else %}
       {% set leaf_as_index =  (intf.peer_index[i] / 2) | int %}
     {% endif %}

     {% set remote_as = (leaf_asn_seed + leaf_as_index) | string %}

   neighbor {{v4_p2p_seed}}.{{remote_ip_3rd_octet_on_borderleaf}}.{{remote_ip_last_octet_on_borderleaf}} peer-group {{v4_to_borderleaf}}
   neighbor {{v4_p2p_seed}}.{{remote_ip_3rd_octet_on_borderleaf}}.{{remote_ip_last_octet_on_borderleaf}} remote-as {{remote_as}}
   neighbor {{v4_p2p_seed}}.{{remote_ip_3rd_octet_on_borderleaf}}.{{remote_ip_last_octet_on_borderleaf}} default-originate
   neighbor {{v4_p2p_seed}}.{{remote_ip_3rd_octet_on_borderleaf}}.{{remote_ip_last_octet_on_borderleaf}} description "{{intf.peer_role}} {{intf.peer_index[i]}}"
   neighbor {{v6_p2p_seed}}:{{remote_ip_3rd_octet_on_borderleaf}}:{{remote_ip_last_octet_on_borderleaf}} peer-group {{v6_to_borderleaf}}
   neighbor {{v6_p2p_seed}}:{{remote_ip_3rd_octet_on_borderleaf}}:{{remote_ip_last_octet_on_borderleaf}} remote-as {{remote_as}}
   neighbor {{v6_p2p_seed}}:{{remote_ip_3rd_octet_on_borderleaf}}:{{remote_ip_last_octet_on_borderleaf}} default-originate
   neighbor {{v6_p2p_seed}}:{{remote_ip_3rd_octet_on_borderleaf}}:{{remote_ip_last_octet_on_borderleaf}} description "{{intf.peer_role}} {{intf.peer_index[i]}}"

   {% endfor %}
{% endfor %}
