
interface loopback0
  description IPV4 Management Loopback
  ip address {{loopback0_seed}}.{{level_index}}.{{pe_index}}/32

interface loopback60
  description IPV6 Management Loopback
  ipv6 address {{loopback60_seed}}:{{level_index}}:{{pe_index}}/128

{% for intf in interfaces %}
    {% for i in range ( intf.local_link_index | length) %}
      {% set local_v4address_to_borderleaf = ((pe_index -1) * 64 + ((intf.local_link_index[i] - 1) *2)) %}
      {% set local_ip_last_octet_to_borderleaf =  (local_v4address_to_borderleaf % 256) | string %}
      {% set local_ip_3rd_octet_to_borderleaf =  (((local_v4address_to_borderleaf / 256 ) | int) + v4_p2p_bl_pe_seed)| string %}

interface {{intf.name}}{{intf.local_link_index[i]}}
   description PHY|{{leaf_uplink_speed}}|EBGP|rhost:{{intf.peer_role}}{{intf.peer_index[i]}}|rport:{{intf_name_designation}}{{intf_separator}}{{intf.peer_link_index[i]}}
   no switchport
   mtu 9178
   ip address {{v4_p2p_seed}}.{{local_ip_3rd_octet_to_borderleaf}}.{{local_ip_last_octet_to_borderleaf}}/31
   ipv6 address {{v6_p2p_seed}}:{{local_ip_3rd_octet_to_borderleaf}}:{{local_ip_last_octet_to_borderleaf}}/127
   no switchport
   ip pim sparse-mode

    {% endfor %}
{% endfor %}
