# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eth0
iface eth0 inet dhcp

auto eth1
iface eth1 inet manual
    bond-master bond0

auto eth2
iface eth2 inet manual
    bond-master bond0

auto bond0
iface bond0 inet static
 address {{ip}}
 gateway {{gateway}}
 netmask {{mask}}
 bond-mode 4
 bond-miimon 100
 bond-lacp-rate 1
 bond-slaves eth1 eth2
