{# {% set myswitch = leaf[inventory_hostname] %} #}
!
hostname {{ inventory_hostname }}.NewSwitch
!
no ntp
no router bgp
no ip routing
default interface e1-3
no interface Vxlan1
no vlan 2-1000
no interface Vlan 2-4094
no interface p1-30
no interface Loopback0
no interface Loopback1
no ip routing vrf TENANT
no ip routing vrf ASH_A
no vrf definition ASH_A
no vrf definition TENANT

no interface Port-Channel1
no vlan 4094
no mlag configuration
no interface Vlan4094
no ip as-path access-list 1
no ip prefix-list default_only
no ip prefix-list uplink_out
no ip prefix-list loopback
no ip prefix-list t0_loopback_only
no route-map ibgp_import
no route-map evpn_export
no route-map border_evpn_out
no route-map loopback-only
no route-map uplink_out
