{% set myswitch = leaf[inventory_hostname] %}
{% set spine_idx = myswitch.idx % 2 %}
{% set spine_port_idx = (myswitch.idx / 2 )|int %}

set routing-options autonomous-system {{ t0_starting_asn + (myswitch.idx/2)|int }}
set routing-options router-id {{t0_starting_lo0_v4}}{{myswitch.idx+11}}

set routing-options forwarding-table export pfe-ecmp


set policy-options policy-statement pfe-ecmp then load-balance per-packet
set policy-options policy-statement bgp-ipclos-in term loopbacks from route-filter {{t0_starting_lo0_v4}}0/24 orlonger
set policy-options policy-statement bgp-ipclos-in term loopbacks then accept

set policy-options policy-statement bgp-ipclos-out term loopback from protocol direct
set policy-options policy-statement bgp-ipclos-out term loopback from route-filter {{t0_starting_lo0_v4}}{{11+myswitch.idx}}/32 orlonger
set policy-options policy-statement bgp-ipclos-out term loopback then next-hop self
set policy-options policy-statement bgp-ipclos-out term loopback then accept

{#
# ebgp to T1
#}
set protocols bgp family inet unicast loops 1
set protocols bgp group underlay_ipfabric type external
set protocols bgp group underlay_ipfabric mtu-discovery
set protocols bgp group underlay_ipfabric multipath multiple-as
set protocols bgp group underlay_ipfabric family inet unicast
set protocols bgp group underlay_ipfabric import bgp-ipclos-in
set protocols bgp group underlay_ipfabric export bgp-ipclos-out
{% for i in range( 0, spine.t2_devices) %}
set protocols bgp group underlay_ipfabric neighbor {{t1_t0_starting_ip_v4}}{{spine_idx*2 + i + 100}}.{{spine_port_idx*2}} peer-as {{t1_starting_asn + spine_idx }}
{% endfor %}
