{% set myswitch = spine[inventory_hostname] %}


set routing-options autonomous-system {{t2_asn}}
set routing-options router-id {{t2t1_starting_lo0_v4}}{{myswitch.idx+1}}
set routing-options forwarding-table export pfe-ecmp

set policy-options policy-statement pfe-ecmp then load-balance per-packet
set policy-options policy-statement bgp-ipclos-in term loopbacks from route-filter {{t2t1_starting_lo0_v4}}0/24 orlonger
set policy-options policy-statement bgp-ipclos-in term loopbacks then accept

set policy-options policy-statement bgp-ipclos-out term loopback from protocol direct
set policy-options policy-statement bgp-ipclos-out term loopback from route-filter {{t2t1_starting_lo0_v4}}{{myswitch.idx+1}}/32 orlonger
set policy-options policy-statement bgp-ipclos-out term loopback then next-hop self
set policy-options policy-statement bgp-ipclos-out term loopback then accept

{#
# ebgp to T1
#}
set protocols bgp hold-time 9
set protocols bgp log-updown
set protocols bgp graceful-restart
set protocols bgp group underlay_ipfabric type external
set protocols bgp group underlay_ipfabric mtu-discovery
set protocols bgp group underlay_ipfabric multipath multiple-as
set protocols bgp group underlay_ipfabric family inet unicast
set protocols bgp group underlay_ipfabric import bgp-ipclos-in
set protocols bgp group underlay_ipfabric export bgp-ipclos-out
{% for i in range( 0, spine.t1_devices ) %}
set protocols bgp group underlay_ipfabric neighbor {{t2_t1_starting_ip_v4}}{{10+myswitch.idx}}.{{i*2+1}} peer-as {{t1_starting_asn+(i/2)|int}}
{% endfor %}
