
set routing-options router-id {{loopback0_seed}}.{{level_index}}.{{superspine_index}}
set routing-options autonomous-system {{superspine_asn}}

set protocols bgp group {{v4_to_spine_underlay}} type external
set protocols bgp group {{v4_to_spine_underlay}} authentication-key {{bgp_password}}
set protocols bgp group {{v4_to_spine_underlay}} export IPV4-CONNECTED-TO-BGP
set protocols bgp group {{v4_to_spine_underlay}} bfd-liveness-detection minimum-interval 300
set protocols bgp group {{v4_to_spine_underlay}} multipath
set protocols bgp group {{v4_to_spine_underlay}} multipath multiple-as

set protocols bgp group {{v6_to_spine_underlay}} type external
set protocols bgp group {{v6_to_spine_underlay}} authentication-key {{bgp_password}}
set protocols bgp group {{v6_to_spine_underlay}} export IPV6-CONNECTED-TO-BGP
set protocols bgp group {{v6_to_spine_underlay}} bfd-liveness-detection minimum-interval 300
set protocols bgp group {{v6_to_spine_underlay}} multipath
set protocols bgp group {{v6_to_spine_underlay}} multipath multiple-as

set protocols bgp group {{v4_to_spine_overlay}} type external
set protocols bgp group {{v4_to_spine_overlay}} authentication-key {{bgp_password}}
set protocols bgp group {{v4_to_spine_overlay}} local-address {{loopback0_seed}}.{{level_index}}.{{superspine_index}}
set protocols bgp group {{v4_to_spine_overlay}} family evpn signaling
set protocols bgp group {{v4_to_spine_overlay}} multipath
set protocols bgp group {{v4_to_spine_overlay}} multihop ttl {{ebgp_multihop}}
set protocols bgp group {{v4_to_spine_overlay}} multihop no-nexthop-change
