
set interfaces lo0 unit 0 family inet address {{loopback0_seed}}.{{level_index}}.{{superspine_index}}/32
set interfaces lo0 unit 0 family inet6 address {{loopback60_seed}}:{{level_index}}:{{superspine_index}}/128

set protocols lldp management-address {{loopback0_seed}}.{{level_index}}.{{superspine_index}}

{% for fabric in fab_interfaces %}
    {% for i in range ( fabric.local_link_index | length) %}
      {% set local_v4address_to_superspine = ((superspine_index -1) * 64 + ((fabric.local_link_index[i] - 1) *2)) %}
      {% set local_ip_last_octet_to_spine =  (local_v4address_to_superspine % 256) | string %}
      {% set local_ip_3rd_octet_to_spine =  ((local_v4address_to_superspine / 256 ) | int) | string %}

set interfaces  {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}} gigether-options 802.3ad ae{{fabric.local_link_index[i]}}
set interfaces  {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}} description "PHY|{{spine_uplink_speed}}|AGG-MEMBER|rhost:{{fabric.peer_role}}{{fabric.peer_index[i]}}|rport:{{intf_name_designation}}{{intf_separator}}{{fabric.peer_link_index[i]}}"

set interfaces ae{{fabric.local_link_index[i]}} description "Bundle|{{spine_uplink_speed}}|EBGP|rhost:{{fabric.peer_role}}{{fabric.peer_index[i]}}|rport:ae{{fabric.peer_link_index[i]}}"
set interfaces ae{{fabric.local_link_index[i]}} apply-groups DC-ET-AE-L2-OPTIONS
set interfaces ae{{fabric.local_link_index[i]}} unit 0 family inet address {{v4_p2p_seed}}.{{local_ip_3rd_octet_to_spine}}.{{local_ip_last_octet_to_spine}}/31
set interfaces ae{{fabric.local_link_index[i]}} unit 0 family inet6 address {{v6_p2p_seed}}:{{local_ip_3rd_octet_to_spine}}:{{local_ip_last_octet_to_spine}}/127
set protocols pim interface ae{{fabric.local_link_index[i]}}.0 apply-groups DC-PIM-OPTIONS

    {% endfor %}
{% endfor %}
