{% set myswitch = leaf[inventory_hostname] %}
{% set spine_idx = myswitch.idx % 2 %}
{% set spine_port_idx = (myswitch.idx / 2 )|int %}
{#
vrf,vxlan1
#}
vrf definition {{t0_evpn_vrf}}
ip routing vrf  {{t0_evpn_vrf}}
!
{# Configure vlan #}
{% for i in range( 0, myswitch.vlans|length) %}
vlan {{myswitch.vlans[i]}}
{% endfor %}

!
{# Configure vlan interface #}
ip virtual-router mac-address {{t0_virtual_mac}}
{% for i in range( 0, myswitch.vlans|length) %}
{% if myswitch.vlans[i] != 10 %}
interface Vlan{{myswitch.vlans[i]}}
  vrf forwarding {{t0_evpn_vrf}}
  mtu {{global.eos_mtu_l3}}
  arp timeout {{global.eos_arp_timeout}}

{% set list = myswitch.subnets[i].split('/') %}
{% set list2 = list[0].split('.') %}
  ip address virtual {{list2[0]}}.{{list2[1]}}.{{list2[2]}}.{{ (list2[3])|int + 1 }}/{{list[1]}}
{% endif %}
{% endfor %}
!
{# Configure vxlan interface  #}
interface Vxlan1
{# vxlan source-interface Loopback1 #}
  vxlan source-interface Loopback0
  vxlan udp-port 4789
  vxlan vrf {{t0_evpn_vrf}} vni {{t0_vrf_vni}}
{% for i in range( 0, myswitch.vlans|length) %}
  vxlan vlan {{myswitch.vlans[i]}} vni {{myswitch.vlans[i]|int + 10000}}
{% endfor %}
  exit
!
{#
# T0-T1 interface configuration
#}
{% for i in range( 0, myswitch.server_ports|length) %}
no int port-Channel {{ i+4 }}
int port-Channel {{ i+4 }}
  switchport access vlan {{myswitch.server_ports[i]}}
  mlag {{ i+4 }}
!
interface e{{ i+4 }}
  channel-group {{i+4}} mode active
exit
!
{% endfor %}
!
{# Configure ebgp policy #}
ip as-path access-list 1 permit ^$
route-map evpn_export permit 10
  match as-path 1
!
{# Configure ebgp evpn #}
router bgp {{ t0_starting_asn + (myswitch.idx/2)|int }}
{# EVPN peers #}
  neighbor overlay_evpn peer-group
  neighbor overlay_evpn update-source Loopback0
  neighbor overlay_evpn send-community extended
  neighbor overlay_evpn ebgp-multihop 5
  neighbor overlay_evpn route-map evpn_export out
  !
{# Add overlay neighbors #}
{% for i in range( 0, t0_asns ) %}
{% if ((myswitch.idx / 2 )|int) != i  %}
  neighbor {{t0_starting_lo0_v4}}{{i*2+11}} peer-group overlay_evpn
  neighbor {{t0_starting_lo0_v4}}{{i*2+11}} remote-as {{t0_starting_asn + i }}
  neighbor {{t0_starting_lo0_v4}}{{i*2+1+11}} peer-group overlay_evpn
  neighbor {{t0_starting_lo0_v4}}{{i*2+1+11}} remote-as {{t0_starting_asn + i }}
{% endif %}
{% endfor %}
{# Add additional overlay neighbors of openstack border on regular leaf only #}
{% if 't0' in group_names  %}
{% for i in range( 1, 3 ) %}
  neighbor 172.16.30.{{i}} peer-group overlay_evpn
  neighbor 172.16.30.{{i}} remote-as {{os_border.asn}}
{% endfor %}
{% endif %}
  !
{% for i in range( 0, myswitch.vlans|length) %}
  vlan {{myswitch.vlans[i]}}
    rd {{t0_starting_lo0_v4}}{{myswitch.idx+11}}:1
    route-target both {{myswitch.vlans[i]|int + 10000}}:1
    redistribute learned
{% endfor %}
  !
  vrf {{t0_evpn_vrf}}
  rd {{t0_starting_lo0_v4}}{{myswitch.idx+11}}:1
    route-target import evpn {{t0_vrf_vni}}:1
    route-target export evpn {{t0_vrf_vni}}:1


    redistribute connected
  !
  address-family ipv4
     neighbor underlay_ipfabric activate
     no neighbor overlay_evpn activate
  !
  address-family evpn
     no neighbor underlay_ipfabric activate
     neighbor overlay_evpn activate
  exit
!
{% if 't0_border' in group_names  %}
interface e4
  no switchport
  vrf forwarding {{t0_evpn_vrf}}
  ip address {{myswitch.uplink_ip}}
!
ip prefix-list uplink_out
{% for i in range( 0, t0_nets|length) %}
{% if t0_l2_nets[i] != 1 %}
  permit {{t0_nets[i]}}
{% endif %}
{% endfor %}
!
ip prefix-list uplink_in
  permit 0.0.0.0/0
!
route-map uplink_out permit 10
  match ip address prefix-list uplink_out
route-map uplink_in permit 10
  match ip address prefix-list uplink_in
!
ip as-path access-list 1 permit ^{{myswitch.uplink_asn}}$
!
router bgp {{ t0_starting_asn + (myswitch.idx/2)|int }}
{# Overly uplink peer #}
  neighbor border_uplink peer-group
  neighbor border_uplink next-hop-self
  neighbor border_uplink remote-as {{myswitch.uplink_asn}}
  neighbor border_uplink route-map uplink_out out
  neighbor border_uplink route-map uplink_in in
  !
  address-family ipv4
    neighbor border_uplink activate
  !
  vrf {{t0_evpn_vrf}}
{% set list = myswitch.uplink_ip.split('/') %}
{% set list2 = list[0].split('.') %}
    neighbor {{list2[0]}}.{{list2[1]}}.{{list2[2]}}.{{ (list2[3])|int - 1 }} peer-group border_uplink
{# import route from cv2 l3 vlans #}
{% for i in cv2.vlans %}
{% set v_idx = cv2.vlans[i] %}
{% if v_idx.l2 == False  %}
        route-target import evpn {{v_idx.vni}}:1
{% endif %}
{% endfor %}
{% endif %}
