{% set myswitch = leaf[inventory_hostname] %}
{% set spine_idx = myswitch.idx % 2 %}
{% set spine_port_idx = (myswitch.idx / 2 )|int %}
!
!
{#
vxlan1 common
#}
!
interface Vxlan1
{# vxlan source-interface Loopback1 #}
  vxlan source-interface Loopback0
  vxlan udp-port 4789
  vxlan vlan {{cv2.qinq_vlan}} vni {{cv2.qinq_vni}}
  exit
!
vlan {{cv2.qinq_vlan}}

{#
# T0 host interface configuration
#}
{% for i in range( 0, myswitch.host_ports|length) %}
{% if myswitch.host_ports[i] != "" %}   {# #}
no int port-Channel {{ i+1 }}
int port-Channel {{ i+1 }}
  switchport access vlan {{cv2.qinq_vlan}}
  switchport mode dot1q-tunnel
  switchport trunk native vlan {{cv2.qinq_vlan}}
  mlag {{ i+1 }}
!
interface e{{ i+1 }}
  channel-group {{i+1}} mode active
  mtu {{global.eos_mtu_l2}}
exit
!
{% endif %}
{% endfor %}
!
{# Configure ebgp policy #}
ip as-path access-list 1 permit ^$
route-map evpn_export permit 10
  match as-path 1
!
{# Configure ebgp evpn #}
router bgp {{ t0_starting_asn + (myswitch.idx/2)|int }}
{# EVPN peers #}
  neighbor overlay_evpn peer-group
  neighbor overlay_evpn update-source Loopback0
  neighbor overlay_evpn send-community extended
  neighbor overlay_evpn ebgp-multihop 5
  neighbor overlay_evpn route-map evpn_export out
  !
{# Add overlay neighbors #}
{% for i in range( 0, t0_asns - 1 ) %}
{% if ((myswitch.idx / 2 )|int) != i  %}
  neighbor {{t0_starting_lo0_v4}}{{i*2+11}} peer-group overlay_evpn
  neighbor {{t0_starting_lo0_v4}}{{i*2+11}} remote-as {{t0_starting_asn + i }}
  neighbor {{t0_starting_lo0_v4}}{{i*2+1+11}} peer-group overlay_evpn
  neighbor {{t0_starting_lo0_v4}}{{i*2+1+11}} remote-as {{t0_starting_asn + i }}
{% endif %}
{% endfor %}
{# Add additional overlay neighbors of openstack border on regular leaf only #}
{% for i in range( 1, 3 ) %}
  neighbor 172.16.30.{{i}} peer-group overlay_evpn
  neighbor 172.16.30.{{i}} remote-as {{os_border.asn}}
{% endfor %}
  !
{# L2 stretcheds vlan only #}
  vlan {{cv2.qinq_vlan}}
    rd {{t0_starting_lo0_v4}}{{myswitch.idx+11}}:{{cv2.qinq_vni}}
    route-target both {{cv2.qinq_vni}}:1
    redistribute learned
  !
  address-family ipv4
     neighbor underlay_ipfabric activate
     no neighbor overlay_evpn activate
  !
  address-family evpn
     no neighbor underlay_ipfabric activate
     neighbor overlay_evpn activate
  exit
!
