{% set myswitch = os_border[inventory_hostname] %}
!
service routing protocols model multi-agent
!
hostname {{ inventory_hostname }}

interface Loopback0
  ip address {{myswitch.lo0}}/32

interface e1
  no switchport
  mtu {{global.eos_mtu_l3}}
  ip address 1.2.{{myswitch.idx+3}}.2/30
!
{# mlag #}
vlan 4094
   name mlag_peer
   trunk group mlag-only

!
interface Vlan4094
   no autostate
   ip address {{global.eos_mlag_addr}}{{(myswitch.idx % 2)+1}}/30
interface e3
  mtu {{global.eos_mtu_l2}}
  description mlag
  channel-group 3 mode active
!
interface Port-Channel3
  description mlag_{{(myswitch.idx / 2 )|int}}
  switchport mode trunk
  switchport trunk group mlag-only
!
mlag configuration
  domain-id mlag_os_border
  reload-delay 300
  local-interface Vlan4094
{% if (myswitch.idx % 2) == 1  %}
  peer-address {{global.eos_mlag_addr}}1
{% else %}
  peer-address {{global.eos_mlag_addr}}2
{% endif %}
  peer-link Port-Channel3
!
int port-Channel 2
  switchport access vlan {{cv2.qinq_vlan}}
  switchport mode dot1q-tunnel
  mlag 2
  exit
!
interface e2
  channel-group 2 mode active
  mtu {{global.eos_mtu_l2}}
exit
!
{# qinq vlan #}
vlan {{cv2.qinq_vlan}}


{# L2 stretch vlan only #}
interface Vxlan1
  vxlan source-interface Loopback0
  vxlan udp-port 4789
{# qinq vlan #}
  vxlan vlan {{cv2.qinq_vlan}} vni {{cv2.qinq_vni}}
{# L2 stretch vlan only #}

ip routing

ip prefix-list loopback permit {{myswitch.lo0}}/32
ip prefix-list t0_loopback_only permit 172.16.0.0/24 le 32

route-map loopback-only permit 10
  match ip address prefix-list loopback

route-map t0_loopback_only permit 10
  match ip address prefix-list t0_loopback_only

{# Configure evpn-ebgp policy #}
ip as-path access-list 1 permit ^$
route-map evpn_export permit 10
  match as-path 1
!
router bgp {{os_border.asn}}
  router-id {{myswitch.lo0}}
  maximum-paths 64 ecmp 64
  timers bgp 3 10
  neighbor dc_uplink peer-group
  neighbor dc_uplink next-hop-self
  neighbor dc_uplink route-map loopback-only out
  neighbor dc_uplink route-map t0_loopback_only in
  neighbor dc_uplink remote-as {{router.asn}}
  neighbor 1.2.{{myswitch.idx+3}}.1 peer-group dc_uplink
  redistribute connected route-map loopback-only

{# EVPN peers #}
  neighbor overlay_evpn peer-group
  neighbor overlay_evpn update-source Loopback0
  neighbor overlay_evpn send-community extended
  neighbor overlay_evpn ebgp-multihop 5
  neighbor overlay_evpn route-map evpn_export out

{% for i in range( 0, t0_asns-1 ) %}
  neighbor {{t0_starting_lo0_v4}}{{i*2+11}} peer-group overlay_evpn
  neighbor {{t0_starting_lo0_v4}}{{i*2+11}} remote-as {{t0_starting_asn + i }}
  neighbor {{t0_starting_lo0_v4}}{{i*2+1+11}} peer-group overlay_evpn
  neighbor {{t0_starting_lo0_v4}}{{i*2+1+11}} remote-as {{t0_starting_asn + i }}
{% endfor %}

{# L2 stretcheds vlan only #}
  vlan {{cv2.qinq_vlan}}
    rd {{myswitch.lo0}}:{{cv2.qinq_vni}}
    route-target both {{cv2.qinq_vni}}:1
    redistribute learned

  address-family ipv4
     neighbor dc_uplink activate
     no neighbor overlay_evpn activate
  !
  address-family evpn
     no neighbor dc_uplink activate
     neighbor overlay_evpn activate
  exit
!
