{% set myswitch = leaf[inventory_hostname] %}
{% set spine_idx = myswitch.idx % 2 %}
{% set spine_port_idx = (myswitch.idx / 2 )|int %}
!
service routing protocols model multi-agent
!
{# hostname #}
hostname {{ inventory_hostname }}
!
{# NTP #}
{% for ntp_server in global.ntp_servers %}
 ntp server {{ ntp_server }}
{% endfor %}
!
ip routing
!
{# Mlag and Cross L3 #}
{% if 't0' in group_names  %}
vlan 4090
   name l3_cross
!
interface Vlan4090
  mtu {{global.eos_mtu_l3}}
  ip address {{global.eos_mlag_addr}}{{(myswitch.idx % 2)+5}}/30
!
vlan 4094
   name mlag_peer
   trunk group mlag-only

!
interface Vlan4094
   no autostate
   ip address {{global.eos_mlag_addr}}{{(myswitch.idx % 2)+1}}/30
!
interface e3
   description mlag
   mtu {{global.eos_mtu_l2}}
   channel-group 3 mode active
!
interface Port-Channel3
   description mlag_{{(myswitch.idx / 2 )|int}}
   switchport mode trunk
   switchport trunk group mlag-only
!
mlag configuration
   domain-id mlag_{{(myswitch.idx / 2 )|int}}
   reload-delay 300
   local-interface Vlan4094
{% if (myswitch.idx % 2) == 1  %}
   peer-address {{global.eos_mlag_addr}}1
{% else %}
   peer-address {{global.eos_mlag_addr}}2
{% endif %}
   peer-link Port-Channel3

{% endif %}
