{% set myserver = server[inventory_hostname] %}
# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*.intf

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eth0
iface eth0 inet dhcp

auto swp1
iface swp1

auto swp2
iface swp2


auto bond1
iface bond1
    bond-lacp-rate slow
    bond-mode 802.3ad
    bond-slaves swp1 swp2
    address {{myserver.address}}
