{% set myserver = server[inventory_hostname] %}
#frr version 4.0+cl3u13
frr defaults datacenter
hostname {{server[inventory_hostname]}}
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
{#
ip route 0.0.0.0/1   {{myserver.gateway}}
ip route 128.0.0.0/2 {{myserver.gateway}}
ip route 192.0.0.0/3 {{myserver.gateway}}
ip route 224.0.0.0/4 {{myserver.gateway}}
ip route 240.0.0.0/5 {{myserver.gateway}}
ip route 248.0.0.0/6 {{myserver.gateway}}
ip route 252.0.0.0/7 {{myserver.gateway}}
#}

line vty
