{% set myrouter = router[inventory_hostname] %}
#frr version 4.0+cl3u13
frr defaults datacenter
hostname rt{{myrouter.idx}}
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
router bgp {{router.asn}}
   bgp router-id 1.1.0.{{myrouter.idx}}
   bgp bestpath as-path multipath-relax
   neighbor bl peer-group
   neighbor bl remote-as external
   neighbor 1.{{myrouter.idx}}.1.2 peer-group bl
   neighbor 1.{{myrouter.idx}}.2.2 peer-group bl
   neighbor 1.{{myrouter.idx}}.3.2 peer-group bl
   neighbor 1.{{myrouter.idx}}.4.2 peer-group bl
!
  neighbor dc_router peer-group
  neighbor dc_router remote-as internal
{% if myrouter.idx == 1 %}
  neighbor 1.1.0.2 peer-group dc_router
{% else %}
  neighbor 1.1.0.1 peer-group dc_router
{% endif %}
  !
  address-family ipv4 unicast
    neighbor bl default-originate
    neighbor dc_router next-hop-self
  exit-address-family
!
line vty
