{% set myrouter = router[inventory_hostname] %}
# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*.intf

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
{% if ansible_host == "127.0.0.1"%}
auto eth0
iface eth0 inet dhcp
{% else %}
auto eth0
iface eth0
  address  {{ansible_host}}/24
{% endif %}

auto swp1
iface swp1
  address 1.{{myrouter.idx}}.1.1/30
  mtu 9216

auto swp2
iface swp2
  address 1.{{myrouter.idx}}.2.1/30
  mtu 9216

auto swp3
iface swp3
  address 1.{{myrouter.idx}}.3.1/30
  mtu 9216

auto swp4
iface swp4
  address 1.{{myrouter.idx}}.4.1/30
  mtu 9216

auto swp5
iface swp5
  address 1.1.0.{{myrouter.idx}}/30
  mtu 9216
