{% set myserver = server[inventory_hostname] %}
# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*.intf

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
{% if ansible_host == "127.0.0.1"%}
auto eth0
iface eth0 inet dhcp
{% else %}
auto eth0
iface eth0
  address  {{ansible_host}}/24
{% endif %}

auto swp1
iface swp1

auto swp2
iface swp2

{% if myserver.idx != 102 and myserver.idx != 104 and myserver.idx != 106 %}

{% for i in range( 10, 41) %}
auto bond1.{{i}}
iface bond1.{{i}}
   address 10.0.{{i}}.{{myserver.idx}}/24
{% endfor %}
{% endif %}
{##}

auto bond1
iface bond1
    bond-lacp-rate slow
    bond-mode 802.3ad
    bond_miimon 100
    bond-slaves swp1 swp2
{% if myserver.idx == 102 or myserver.idx == 104 or myserver.idx == 106 %}
    address 10.0.99.{{myserver.idx}}/24
{% endif %}


{#    address {{myserver.address}}  #}
    mtu 9000
