{# make sure spine group share the same AS #}
{% if spine_index % 4 != 0  %}
   {% set group_as_index =  ((spine_index / 4) | int)  + 1 %}
{% else %}
   {% set group_as_index =  (spine_index / 4) | int %}
{% endif %}

{% set asn_string = (spine_asn_seed | int + group_as_index) | string %}

route-map permitall permit 10
  set ip next-hop unchanged

router bgp {{asn_string}}
   router-id {{loopback0_seed}}.{{level_index}}.{{spine_index}}
   {% include "bgp_universal.j2" %}

   template peer {{v4_to_superspine_underlay}}
     bfd
     password {{bgp_password}}
     address-family ipv4 unicast
      send-community extended

   template peer {{v6_to_superspine_underlay}}
     bfd
     password {{bgp_password}}
     address-family ipv6 unicast
      send-community extended

    template peer {{v4_to_leaf_underlay}}
        bfd
        password {{bgp_password}}
        address-family ipv4 unicast
         send-community extended

    template peer {{v6_to_leaf_underlay}}
        bfd
        password {{bgp_password}}
        address-family ipv6 unicast
         send-community extended

    template peer {{v4_to_superspine_overlay}}
       bfd
       password {{bgp_password}}
       ebgp-multihop {{ebgp_multihop}}
       update-source Loopback0
       address-family l2vpn evpn
        send-community extended
        route-map permitall out

    template peer {{v4_to_leaf_overlay}}
       bfd
       password {{bgp_password}}
       ebgp-multihop {{ebgp_multihop}}
       update-source Loopback0
       address-family l2vpn evpn
          send-community extended
          route-map permitall out
