
interface loopback0
  description IPV4 Management Loopback
  ip address {{loopback0_seed}}.{{level_index}}.{{spine_index}}/32

interface loopback60
  description IPV6 Management Loopback
  ipv6 address {{loopback60_seed}}:{{level_index}}:{{spine_index}}/128

{% for fabric in fab_interfaces %}
  {% if fabric.peer_role == "leaf" %}
    {% for i in range ( fabric.local_link_index | length) %}
      {% set combined_port_index = ((fabric.local_link_index[i] -1) *4) + fabric.local_link_subindex[i] %}

      {% set local_v4address_to_leaf = ((spine_index - 1) * 256 + (combined_port_index - 1) *2) | int %}
      {% set local_ip_last_octet_to_leaf = (local_v4address_to_leaf % 256) | string %}
      {% set local_ip_3rd_octet_to_leaf = (((local_v4address_to_leaf / 256) | int) + v4_p2p_t0t1_seed) | string %}

{# need to represent breakout later with {{fabric.local_link_index[i]/local_link_subindex[i] #}
interface {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}}
    description PHY|{{leaf_uplink_speed}}|EBGP|rhost:{{fabric.peer_role}}{{fabric.peer_index[i]}}|rport:Eth{{fabric.peer_link_index[i]}}
    channel-group {{combined_port_index}} mode active
    no shutdown


interface port-channel{{combined_port_index}}
    description Bundle|{{leaf_uplink_speed}}|EBGP|rhost:{{fabric.peer_role}}{{fabric.peer_index[i]}}|rport:PO{{fabric.peer_link_index[i]}}
    no switchport
    ip address {{v4_p2p_seed}}.{{local_ip_3rd_octet_to_leaf}}.{{local_ip_last_octet_to_leaf}}/31
    ipv6 address {{v6_p2p_seed}}:{{local_ip_3rd_octet_to_leaf}}:{{local_ip_last_octet_to_leaf}}/127
    ip pim sparse-mode
    no shutdown
    {% endfor %}
  {% endif %}

  {% if fabric.peer_role == "superspine" %}
    {% for i in range ( fabric.local_link_index | length) %}
      {% set local_v4address_to_superspine = ( (fabric.peer_index[i] -1) * 64 + (((fabric.peer_link_index[i] | int) - 1) *2) + 1) %}
      {% set local_ip_last_octet_to_superspine =  (local_v4address_to_superspine % 256) | string %}
      {% set local_ip_3rd_octet_to_superspine =  ((local_v4address_to_superspine / 256 ) | int) | string %}

interface {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}}
    description PHY|{{spine_uplink_speed}}|EBGP|rhost:{{fabric.peer_role}}{{fabric.peer_index[i]}}|rport:Eth{{fabric.peer_link_index[i]}}
    channel-group {{fabric.local_link_index[i]}} mode active
    no shutdown


interface port-channel{{fabric.local_link_index[i]}}
    description Bundle|{{spine_uplink_speed}}|EBGP|rhost:{{fabric.peer_role}}{{fabric.peer_index[i]}}|rport:PO{{fabric.peer_link_index[i]}}
    no switchport
    ip address {{v4_p2p_seed}}.{{local_ip_3rd_octet_to_superspine}}.{{local_ip_last_octet_to_superspine}}/31
    ipv6 address {{v6_p2p_seed}}:{{local_ip_3rd_octet_to_superspine}}:{{local_ip_last_octet_to_superspine}}/127
    ip pim sparse-mode
    no shutdown

    {% endfor %}
  {% endif %}
{% endfor %}
