

router bgp {{superspine_asn}}
{% for fabric in fab_interfaces %}
   {% for i in range ( fabric.local_link_index | length) %}
     {% set local_v4address_to_spine = (((superspine_index -1) * 64) + ((fabric.local_link_index[i] - 1) *2)) %}
     {% set remote_ip_last_octet_on_spine = ((local_v4address_to_spine +1) % 256) | string %}
     {% set remote_ip_3rd_octet_on_spine = (((local_v4address_to_spine +1) / 256) | int) | string %}

     {# make sure spine group share the same AS #}
     {% if fabric.peer_index[i] % 4 != 0  %}
       {% set spine_as_index =  (fabric.peer_index[i] / 4) | int  + 1 %}
     {% else %}
       {% set spine_as_index =  (fabric.peer_index[i] / 4) | int %}
     {% endif %}
     {% set remote_as = (spine_asn_seed + spine_as_index) | string %}

   neighbor {{v4_p2p_seed}}.{{remote_ip_3rd_octet_on_spine}}.{{remote_ip_last_octet_on_spine}} remote-as {{remote_as}}
      inherit peer {{v4_to_spine_underlay}}
      description "{{fabric.peer_role}} {{fabric.peer_index[i]}}"
   neighbor {{v6_p2p_seed}}:{{remote_ip_3rd_octet_on_spine}}:{{remote_ip_last_octet_on_spine}} remote-as {{remote_as}}
      inherit peer {{v6_to_spine_underlay}}
      description "{{fabric.peer_role}} {{fabric.peer_index[i]}}"

   neighbor {{loopback0_seed}}.{{lower_level_index}}.{{fabric.peer_index[i]}} remote-as {{remote_as}}
    inherit peer {{v4_to_spine_overlay}}
    description "{{fabric.peer_role}} {{fabric.peer_index[i]}} overlay"

   {% endfor %}
{% endfor %}
