
route-map permitall permit 10
  set ip next-hop unchanged

router bgp {{superspine_asn}}
   router-id {{loopback0_seed}}.{{level_index}}.{{superspine_index}}

   {% include "bgp_universal.j2" %}

   template peer {{v4_to_spine_underlay}}
     bfd
     password {{bgp_password}}
     address-family ipv4 unicast
      send-community extended

   template peer {{v6_to_spine_underlay}}
     password {{bgp_password}}
     address-family ipv6 unicast
      send-community extended

      template peer {{v4_to_spine_overlay}}
         bfd
         password {{bgp_password}}
         ebgp-multihop {{ebgp_multihop}}
         update-source Loopback0
         address-family l2vpn evpn
          send-community extended
          route-map permitall out
