
interface loopback0
  description IPV4 Management Loopback
  ip address {{loopback0_seed}}.{{level_index}}.{{superspine_index}}/32

interface loopback60
  description IPV6 Management Loopback
  ipv6 address {{loopback60_seed}}:{{level_index}}:{{superspine_index}}/128

{% for fabric in fab_interfaces %}
    {% for i in range ( fabric.local_link_index | length) %}
      {% set local_v4address_to_superspine = ((superspine_index -1) * 64 + ((fabric.local_link_index[i] - 1) *2)) %}
      {% set local_ip_last_octet_to_spine =  (local_v4address_to_superspine % 256) | string %}
      {% set local_ip_3rd_octet_to_spine =  ((local_v4address_to_superspine / 256 ) | int) | string %}

interface {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}}
    description PHY|{{spine_uplink_speed}}|EBGP|rhost:{{fabric.peer_role}}{{fabric.peer_index[i]}}|rport:Eth{{fabric.peer_link_index[i]}}
    channel-group {{fabric.local_link_index[i]}} mode active
    no shutdown

interface port-channel{{fabric.local_link_index[i]}}
    description Bundle|{{spine_uplink_speed}}|EBGP|rhost:{{fabric.peer_role}}{{fabric.peer_index[i]}}|rport:PO{{fabric.peer_link_index[i]}}
    no switchport
    no shutdown
    ip address {{v4_p2p_seed}}.{{local_ip_3rd_octet_to_spine}}.{{local_ip_last_octet_to_spine}}/31
    ipv6 address {{v6_p2p_seed}}:{{local_ip_3rd_octet_to_spine}}:{{local_ip_last_octet_to_spine}}/127
    ip pim sparse-mode

    {% endfor %}
{% endfor %}
