
{% for fabric in fab_interfaces %}
  {% if fabric.peer_role == "spine" %}
    {% for i in range ( fabric.local_link_index | length) %}

      {% set combined_port_index = (((fabric.spine_link_index[i])-1) *4) | int + fabric.spine_link_subindex[i] %}

      {% set local_v4address_to_spine = ((fabric.spine_index[i] - 1) * 256 + (combined_port_index - 1) *2 + 1) %}
      {% set remote_ip_last_octet_on_spine = ((local_v4address_to_spine - 1) % 256) | string %}
      {% set remote_ip_3rd_octet_on_spine = ((((local_v4address_to_spine - 1) / 256 | int) + v4_p2p_t0t1_seed) | int) | string %}

      {# make sure spine group share the same AS #}
      {% if fabric.spine_index[i] % 4 != 0  %}
        {% set spine_as_index =  (fabric.spine_index[i] / 4) | int  + 1 %}
      {% else %}
        {% set spine_as_index =  (fabric.spine_index[i] / 4) | int %}
      {% endif %}
      {% set remote_as = (spine_asn_seed + spine_as_index) | string %}

set protocols bgp group {{v4_to_spine_underlay}} neighbor {{v4_p2p_seed}}.{{remote_ip_3rd_octet_on_spine}}.{{remote_ip_last_octet_on_spine}} description "{{fabric.peer_role}} {{fabric.spine_index[i]}}"
set protocols bgp group {{v4_to_spine_underlay}} peer-as {{remote_as}}

set protocols bgp group {{v6_to_spine_underlay}} neighbor {{v6_p2p_seed}}:{{remote_ip_3rd_octet_on_spine}}:{{remote_ip_last_octet_on_spine}} description "{{fabric.peer_role}} {{fabric.spine_index[i]}}"
set protocols bgp group {{v6_to_spine_underlay}} peer-as {{remote_as}}

set protocols bgp group {{v4_to_spine_overlay}} neighbor {{loopback0_seed}}.{{upper_level_index}}.{{fabric.spine_index[i]}} description "{{fabric.peer_role}} {{fabric.spine_index[i]}} overlay"
set protocols bgp group {{v4_to_spine_overlay}} peer-as {{remote_as}}

    {% endfor %}
  {% endif %}

  {% if fabric.peer_role == "pe" %}
    {% for i in range ( fabric.local_link_index | length) %}

      {% set local_v4address_to_pe = (((fabric.peer_index[i] -1) * 64) + ((fabric.peer_link_index[i] - 1) *2)) + 1 %}
      {% set remote_ip_last_octet_on_pe = ((local_v4address_to_pe -1) % 256) | string %}
      {% set remote_ip_3rd_octet_on_pe = ((((local_v4address_to_pe -1) / 256) | int) + v4_p2p_bl_pe_seed)| string %}

set routing-instances {{fabric.local_link_color[i]}} protocols bgp group {{v4_to_pe}} neighbor {{v4_p2p_seed}}.{{remote_ip_3rd_octet_on_pe}}.{{remote_ip_last_octet_on_pe}} description "{{fabric.peer_role}} {{fabric.peer_index[i]}}"
set routing-instances {{fabric.local_link_color[i]}} protocols bgp group {{v6_to_pe}} neighbor {{v6_p2p_seed}}:{{remote_ip_3rd_octet_on_pe}}:{{remote_ip_last_octet_on_pe}} description "{{fabric.peer_role}} {{fabric.peer_index[i]}}"
set routing-instances {{fabric.local_link_color[i]}} interface {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}}.0

set routing-instances {{fabric.local_link_color[i]}} protocols pim interface {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}}.0 apply-groups DC-ROUTING-INSTANCE-PIM-OPTIONS
    {% endfor %}

  {% endif %}


{% endfor %}
