{# make sure leaf pair share the same AS #}
{% if leaf_index % 2 == 1 %}
   {% set pair_index =  (leaf_index / 2) | int  + 1 %}
{% else %}
   {% set pair_index =  (leaf_index / 2) | int %}
{% endif %}

{% set asn_string = (leaf_asn_seed + pair_index) | string %}

set routing-options router-id {{loopback0_seed}}.{{level_index}}.{{leaf_index}}
set routing-options autonomous-system {{asn_string}}

set policy-options as-path nullas "^$"
set policy-options policy-statement LOCAL_ORIGNATED_ONLY term only-local-as from protocol bgp
set policy-options policy-statement LOCAL_ORIGNATED_ONLY term only-local-as from as-path nullas
set policy-options policy-statement LOCAL_ORIGNATED_ONLY term only-local-as then accept
set policy-options policy-statement LOCAL_ORIGNATED_ONLY term deny-others then reject

set protocols bgp mtu-discovery
set protocols bgp log-updown
set protocols bgp family inet unicast loops 1
set protocols bgp family evpn signaling loops 1
set protocols bgp group {{v4_to_spine_underlay}} type external
set protocols bgp group {{v4_to_spine_underlay}} authentication-key {{bgp_password}}
set protocols bgp group {{v4_to_spine_underlay}} export IPV4-CONNECTED-TO-BGP
set protocols bgp group {{v4_to_spine_underlay}} family inet unicast
set protocols bgp group {{v4_to_spine_underlay}} bfd-liveness-detection minimum-interval 300
set protocols bgp group {{v4_to_spine_underlay}} multipath
set protocols bgp group {{v4_to_spine_underlay}} multipath multiple-as

set protocols bgp group {{v6_to_spine_underlay}} type external
set protocols bgp group {{v6_to_spine_underlay}} authentication-key {{bgp_password}}
set protocols bgp group {{v6_to_spine_underlay}} export IPV6-CONNECTED-TO-BGP
set protocols bgp group {{v6_to_spine_underlay}} family inet6 unicast
set protocols bgp group {{v6_to_spine_underlay}} bfd-liveness-detection minimum-interval 300
set protocols bgp group {{v6_to_spine_underlay}} multipath
set protocols bgp group {{v6_to_spine_underlay}} multipath multiple-as

set protocols bgp group {{v4_to_spine_overlay}} type external
set protocols bgp group {{v4_to_spine_overlay}} authentication-key {{bgp_password}}
set protocols bgp group {{v4_to_spine_overlay}} local-address {{loopback0_seed}}.{{level_index}}.{{leaf_index}}
set protocols bgp group {{v4_to_spine_overlay}} family evpn signaling
set protocols bgp group {{v4_to_spine_overlay}} multipath
set protocols bgp group {{v4_to_spine_overlay}} multipath  multiple-as
set protocols bgp group {{v4_to_spine_overlay}} multihop ttl {{ebgp_multihop}}
set protocols bgp group {{v4_to_spine_overlay}} export LOCAL_ORIGNATED_ONLY


{% if border_leaf == true %}

set policy-options policy-statement V4_EVPN_AGG_OUT term block_hostroute from protocol evpn
set policy-options policy-statement V4_EVPN_AGG_OUT term block_hostroute from route-filter 0.0.0.0/0 prefix-length-range /32-/32
set policy-options policy-statement V4_EVPN_AGG_OUT term block_hostroute then reject
set policy-options policy-statement V4_EVPN_AGG_OUT term accept_agg from protocol evpn
set policy-options policy-statement V4_EVPN_AGG_OUT term accept_agg then accept

set policy-options policy-statement V6_EVPN_AGG_OUT term block_hostroute from protocol evpn
set policy-options policy-statement V6_EVPN_AGG_OUT term block_hostroute from route-filter 0::0/0 prefix-length-range /128-/128
set policy-options policy-statement V6_EVPN_AGG_OUT term block_hostroute then reject
set policy-options policy-statement V6_EVPN_AGG_OUT term accept_agg from protocol evpn
set policy-options policy-statement V6_EVPN_AGG_OUT term accept_agg then accept

  {% for vni in vnis %}
set routing-instances {{vni.vni_color}} protocols bgp group {{v4_to_pe}} type external
set routing-instances {{vni.vni_color}} protocols bgp group {{v4_to_pe}} family inet unicast
set routing-instances {{vni.vni_color}} protocols bgp group {{v4_to_pe}} authentication-key {{bgp_password}}
set routing-instances {{vni.vni_color}} protocols bgp group {{v4_to_pe}} export IPV4-CONNECTED-TO-BGP
set routing-instances {{vni.vni_color}} protocols bgp group {{v4_to_pe}} export V4_EVPN_AGG_OUT
set routing-instances {{vni.vni_color}} protocols bgp group {{v4_to_pe}} bfd-liveness-detection minimum-interval 300
set routing-instances {{vni.vni_color}} protocols bgp group {{v4_to_pe}} multipath
set routing-instances {{vni.vni_color}} protocols bgp group {{v4_to_pe}} peer-as {{pe_asn}}

set routing-instances {{vni.vni_color}} protocols bgp group {{v6_to_pe}} type external
set routing-instances {{vni.vni_color}} protocols bgp group {{v6_to_pe}} family inet6 unicast
set routing-instances {{vni.vni_color}} protocols bgp group {{v6_to_pe}} authentication-key {{bgp_password}}
set routing-instances {{vni.vni_color}} protocols bgp group {{v6_to_pe}} export IPV6-CONNECTED-TO-BGP
set routing-instances {{vni.vni_color}} protocols bgp group {{v6_to_pe}} export V6_EVPN_AGG_OUT

set routing-instances {{vni.vni_color}} protocols bgp group {{v6_to_pe}} bfd-liveness-detection minimum-interval 300
set routing-instances {{vni.vni_color}} protocols bgp group {{v6_to_pe}} multipath
set routing-instances {{vni.vni_color}} protocols bgp group {{v6_to_pe}} peer-as {{pe_asn}}
  {% endfor %}
{% endif %}
