
set interfaces lo0 unit 0 family inet address {{loopback0_seed}}.{{level_index}}.{{leaf_index}}/32
set interfaces lo0 unit 0 family inet6 address {{loopback60_seed}}:{{level_index}}:{{leaf_index}}/128


set protocols lldp management-address {{loopback0_seed}}.{{level_index}}.{{leaf_index}}


{% for fabric in fab_interfaces %}
    {% if fabric.peer_role == "spine" %}
      {% for i in range ( fabric.local_link_index | length) %}
        {% set combined_port_index = (((fabric.spine_link_index[i] | int)-1) *4) + fabric.spine_link_subindex[i] %}

        {% set local_v4address_to_spine = ((fabric.spine_index[i] - 1) * 256 + (combined_port_index - 1) * 2 + 1) %}
        {% set local_ip_last_octet_to_spine = (local_v4address_to_spine % 256) | string %}
        {% set local_ip_3rd_octet_to_spine = (((local_v4address_to_spine / 256) | int) + v4_p2p_t0t1_seed) | string %}

set interfaces {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}} gigether-options 802.3ad ae{{fabric.local_link_index[i]}}
set interfaces {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}} description "PHY|{{leaf_uplink_speed}}|AGG-MEMBER|rhost:spine{{fabric.spine_index[i]}}|rport:{{intf_name_designation}}{{intf_separator}}{{fabric.spine_link_index[i]}}.{{fabric.spine_link_subindex[i]}}"

set interfaces ae{{fabric.local_link_index[i]}} description "Bundle|{{leaf_uplink_speed}}|EBGP|rhost:spine{{fabric.spine_index[i]}}|rport:ae{{combined_port_index}}"
set interfaces ae{{fabric.local_link_index[i]}} apply-groups DC-ET-AE-L2-OPTIONS
set interfaces ae{{fabric.local_link_index[i]}} unit 0 family inet address {{v4_p2p_seed}}.{{local_ip_3rd_octet_to_spine}}.{{local_ip_last_octet_to_spine}}/31
set interfaces ae{{fabric.local_link_index[i]}} unit 0 family inet6 address {{v6_p2p_seed}}:{{local_ip_3rd_octet_to_spine}}:{{local_ip_last_octet_to_spine}}/127
set protocols pim interface ae{{fabric.local_link_index[i]}}.0 apply-groups DC-PIM-OPTIONS

    {% endfor %}
  {% endif %}

  {% if fabric.peer_role == "peer" %}
    {% set portchannel_group_no = fabric.local_link_index[0] %}

    {% for i in range ( fabric.local_link_index | length) %}

set interfaces {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}} gigether-options 802.3ad ae{{portchannel_group_no}}
set interfaces {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}} description "PHY|{{leaf_uplink_speed}}|AGG-MEMBER|rhost:leaf{{fabric.peer_index[i]}}|rport:{{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}}"

    {% endfor %}

set interfaces ae{{portchannel_group_no}} description "Bundle|{{leaf_uplink_speed}}|cross-link|rhost:leaf{{fabric.peer_index[0]}}|rport:ae{{portchannel_group_no}}"
set interfaces ae{{portchannel_group_no}} apply-groups DC-ET-AE-L2-OPTIONS
set interfaces ae{{portchannel_group_no}} unit 0 family ethernet-switching interface-mode trunk
set interfaces ae{{portchannel_group_no}} unit 0 family ethernet-switching vlan members all

  {% endif %}



  {% if fabric.peer_role == "server" %}
    {% set portchannel_group_no = fabric.local_link_index[0] %}
    {% for i in range ( fabric.local_link_index | length) %}

set vlans vlan{{fabric.server_vlan_index[i]}} description "VLAN_{{fabric.server_vlan_index[i]}}"
set vlans vlan{{fabric.server_vlan_index[i]}} vlan-id {{fabric.server_vlan_index[i]}}


set interfaces {{fabric.local_intf_name[i]}}{{fabric.local_link_index[i]}} gigether-options 802.3ad ae{{fabric.local_link_index[i]}}
set interfaces {{fabric.local_intf_name[i]}}{{fabric.local_link_index[i]}} description "PHY|{{fabric.server_link_speed[i]}}|AGG-MEMBER|rhost:server{{fabric.server_index[i]}}|rport:Eth{{fabric.server_link_index[i]}}"


{# make sure leaf pair share the same AS #}
{% if leaf_index % 2 == 1 %}
   {% set pair_index =  (leaf_index / 2) | int  + 1 %}
{% else %}
   {% set pair_index =  (leaf_index / 2) | int %}
{% endif %}


set interfaces ae{{fabric.local_link_index[i]}} description "Bundle|{{fabric.server_link_speed[i]}}|server|rhost:server{{fabric.server_index[i]}}|rport:bond{{fabric.server_link_index[i]}}"
set interfaces ae{{fabric.local_link_index[i]}} apply-groups DC-ESI-AE-L2-OPTIONS
set interfaces ae{{fabric.local_link_index[i]}} aggregated-ether-options lacp system-id 01:01:01:01:0{{pair_index}}:0{{fabric.local_link_index[i]}}
set interfaces ae{{fabric.local_link_index[i]}} unit 0 family ethernet-switching interface-mode access
set interfaces ae{{fabric.local_link_index[i]}} unit 0 family ethernet-switching vlan members {{fabric.server_vlan_index[i]}}
set interfaces ae{{fabric.local_link_index[i]}} esi auto-derive lacp
set interfaces ae{{fabric.local_link_index[i]}} esi all-active


      {% endfor %}
    {% endif %}

    {% if fabric.peer_role == "pe" %}
      {% for i in range ( fabric.local_link_index | length) %}

        {% set local_v4address_to_pe = (((fabric.peer_index[i] -1) * 64) + ((fabric.peer_link_index[i] - 1) *2)) + 1 %}
        {% set local_ip_last_octet_to_pe = ((local_v4address_to_pe) % 256) | string %}
        {% set local_ip_3rd_octet_to_pe = ((((local_v4address_to_pe) / 256) | int) + v4_p2p_bl_pe_seed)| string %}

set interfaces {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}} description "PHY|{{leaf_uplink_speed}}|AGG-MEMBER|rhost:pe{{fabric.peer_index[i]}}|rport:Eth{{fabric.peer_link_index[i]}}"
set interfaces {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}} unit 0 family inet address {{v4_p2p_seed}}.{{local_ip_3rd_octet_to_pe}}.{{local_ip_last_octet_to_pe}}/31
set interfaces {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}} unit 0 family inet6 address {{v6_p2p_seed}}:{{local_ip_3rd_octet_to_pe}}:{{local_ip_last_octet_to_pe}}/127


    {% endfor %}
  {% endif %}

{% endfor %}
