{# make sure leaf pair share the same AS #}
{% if leaf_index % 2 == 1 %}
   {% set pair_index =  (leaf_index / 2) | int  + 1 %}
{% else %}
   {% set pair_index =  (leaf_index / 2) | int %}
{% endif %}

{% set asn_string = (leaf_asn_seed + pair_index) | string %}

{% for i in range((total_leafs / 2) | int) %}
  {% if (leaf_asn_seed + pair_index) !=  (leaf_asn_seed + i + 1) %}

set policy-options community esi_{{(leaf_asn_seed + i + 1) | string}} members target:{{(leaf_asn_seed + i + 1)}}:1
set policy-options policy-statement VRF-IMPORT-POLICY term esi_{{(leaf_asn_seed + i + 1) | string}} from community esi_{{(leaf_asn_seed + i + 1) | string}}
set policy-options policy-statement VRF-IMPORT-POLICY term esi_{{(leaf_asn_seed + i + 1) | string}} then accept
  {% endif %}
{% endfor %}

set protocols evpn encapsulation vxlan
set protocols evpn default-gateway do-not-advertise
set protocols evpn extended-vni-list all
set protocols evpn multicast-mode ingress-replication

set switch-options vtep-source-interface lo0.0
set switch-options route-distinguisher {{loopback0_seed}}.{{level_index}}.{{leaf_index}}:1
set switch-options vrf-import VRF-IMPORT-POLICY
set switch-options vrf-target target:{{asn_string}}:{{switch_option_index}}

{% for i in range((total_leafs/2) | int) %}
  {% if (leaf_asn_seed + pair_index) !=  (leaf_asn_seed + i + 1) %}

set switch-options vrf-target auto import-as {{leaf_asn_seed + i + 1}} vni-list all
  {% endif %}
{% endfor %}

{% if leaf_index % 2 == 1 %}
   {% set ip_usable_index =  2 %}
{% else %}
   {% set ip_usable_index =  3 %}
{% endif %}

{% for vni in vnis %}
  {% if vni.vni_color == "green" %}

set routing-instances green instance-type vrf
set routing-instances green protocols evpn ip-prefix-routes advertise direct-nexthop
set routing-instances green protocols evpn ip-prefix-routes encapsulation vxlan
set routing-instances green protocols evpn ip-prefix-routes vni {{green_vrf_l3vni}}
set routing-instances green interface lo0.{{green_vrf_index}}
set routing-instances green route-distinguisher {{loopback0_seed}}.{{level_index}}.{{leaf_index}}:{{green_vrf_index}}
set routing-instances green vrf-target target:{{green_vrf_index}}:{{green_vrf_index}}
set routing-instances green vrf-table-label
set routing-instances green routing-options multipath


set interfaces lo0 unit {{green_vrf_index}} family inet address {{loopback0_seed}}.{{level_index + green_vrf_index}}.{{leaf_index}}/32

   {% if border_leaf == false %}
set policy-options policy-statement EVPN_TYPE5_OUT_GREEN term type5_and_agg from protocol [evpn direct]

     {% for i in range ( vni.green_vxlan_vlan | length) %}

set interfaces irb unit {{vni.green_vxlan_vlan[i]}} family inet address {{vni.green_vxlan_subnet[i] | ipaddr('next_usable')}}/{{ vni.green_vxlan_subnet[i] | ipaddr('prefix')}}
set interfaces irb unit {{vni.green_vxlan_vlan[i]}} mac 00:00:00:00:01:64
set interfaces irb unit {{vni.green_vxlan_vlan[i]}} family inet6 address {{v6_vlan_seed}}:{{vni.green_vxlan_subnet[i].split('.')[0:3] | join(':')}}:1/64

set policy-options policy-statement EVPN_TYPE5_OUT_GREEN term type5_and_agg from route-filter {{vni.green_vxlan_subnet[i]}} orlonger

set routing-instances green interface irb.{{vni.green_vxlan_vlan[i]}}

      {% set green_vni_seg = (green_vn_segment_seed + vni.green_vxlan_vlan[i]) | string %}

set vlans vlan{{vni.green_vxlan_vlan[i]}} l3-interface irb.{{vni.green_vxlan_vlan[i]}}
set vlans vlan{{vni.green_vxlan_vlan[i]}} vxlan vni {{green_vni_seg}}

     {% endfor %}

set policy-options policy-statement EVPN_TYPE5_OUT_GREEN term type5_and_agg then accept
set routing-instances green protocols evpn ip-prefix-routes export EVPN_TYPE5_OUT_GREEN

    {% endif %}
  {% endif %}

  {% if vni.vni_color == "blue" %}

set routing-instances blue instance-type vrf
set routing-instances blue protocols evpn ip-prefix-routes advertise direct-nexthop
set routing-instances blue protocols evpn ip-prefix-routes encapsulation vxlan
set routing-instances blue protocols evpn ip-prefix-routes vni {{blue_vrf_l3vni}}
set routing-instances blue interface lo0.{{blue_vrf_index}}
set routing-instances blue route-distinguisher {{loopback0_seed}}.{{level_index}}.{{leaf_index}}:{{blue_vrf_index}}
set routing-instances blue vrf-target target:{{blue_vrf_index}}:{{blue_vrf_index}}
set routing-instances blue vrf-table-label
set routing-instances blue routing-options multipath

set interfaces lo0 unit {{blue_vrf_index}} family inet address {{loopback0_seed}}.{{level_index + blue_vrf_index}}.{{leaf_index}}/32

   {% if border_leaf == false %}
set policy-options policy-statement EVPN_TYPE5_OUT_BLUE term type5_and_agg from protocol [evpn direct]
     {% for i in range ( vni.blue_vxlan_vlan | length) %}

set interfaces irb unit {{vni.blue_vxlan_vlan[i]}} family inet address {{vni.blue_vxlan_subnet[i] | ipaddr('next_usable')}}/{{ vni.blue_vxlan_subnet[i] | ipaddr('prefix')}}
set interfaces irb unit {{vni.blue_vxlan_vlan[i]}} mac 00:00:00:00:01:64
set interfaces irb unit {{vni.blue_vxlan_vlan[i]}} family inet6 address {{v6_vlan_seed}}:{{vni.blue_vxlan_subnet[i].split('.')[0:3] | join(':')}}:1/64

set policy-options policy-statement EVPN_TYPE5_OUT_BLUE term type5_and_agg from route-filter {{vni.blue_vxlan_subnet[i]}} orlonger

set routing-instances blue interface irb.{{vni.blue_vxlan_vlan[i]}}

      {% set blue_vni_seg = (blue_vn_segment_seed + vni.blue_vxlan_vlan[i]) | string %}

set vlans vlan{{vni.blue_vxlan_vlan[i]}} l3-interface irb.{{vni.blue_vxlan_vlan[i]}}
set vlans vlan{{vni.blue_vxlan_vlan[i]}} vxlan vni {{blue_vni_seg}}

     {% endfor %}

set policy-options policy-statement EVPN_TYPE5_OUT_BLUE term type5_and_agg then accept
set routing-instances blue protocols evpn ip-prefix-routes export EVPN_TYPE5_OUT_BLUE

    {% endif %}
  {% endif %}
{% endfor %}
