{# make sure spine group share the same AS #}
{% if spine_index % 4 != 0  %}
   {% set group_as_index =  ((spine_index / 4) | int)  + 1 %}
{% else %}
   {% set group_as_index =  (spine_index / 4) | int %}
{% endif %}

{% set asn_string = (spine_asn_seed | int + group_as_index) | string %}

set routing-options router-id {{loopback0_seed}}.{{level_index}}.{{spine_index}}
set routing-options autonomous-system {{asn_string}}


set protocols bgp mtu-discovery
set protocols bgp log-updown
set protocols bgp group {{v4_to_superspine_underlay}} type external
set protocols bgp group {{v4_to_superspine_underlay}} family inet unicast
set protocols bgp group {{v4_to_superspine_underlay}} authentication-key {{bgp_password}}
set protocols bgp group {{v4_to_superspine_underlay}} export IPV4-CONNECTED-TO-BGP
set protocols bgp group {{v4_to_superspine_underlay}} bfd-liveness-detection minimum-interval 300
set protocols bgp group {{v4_to_superspine_underlay}} multipath
set protocols bgp group {{v4_to_superspine_underlay}} multipath multiple-as

set protocols bgp group {{v6_to_superspine_underlay}} type external
set protocols bgp group {{v6_to_superspine_underlay}} family inet6 unicast
set protocols bgp group {{v6_to_superspine_underlay}} authentication-key {{bgp_password}}
set protocols bgp group {{v6_to_superspine_underlay}} export IPV6-CONNECTED-TO-BGP
set protocols bgp group {{v6_to_superspine_underlay}} bfd-liveness-detection minimum-interval 300
set protocols bgp group {{v6_to_superspine_underlay}} multipath
set protocols bgp group {{v6_to_superspine_underlay}} multipath multiple-as

set protocols bgp group {{v4_to_superspine_overlay}} type external
set protocols bgp group {{v4_to_superspine_overlay}} authentication-key {{bgp_password}}
set protocols bgp group {{v4_to_superspine_overlay}} local-address {{loopback0_seed}}.{{level_index}}.{{spine_index}}
set protocols bgp group {{v4_to_superspine_overlay}} family evpn signaling
set protocols bgp group {{v4_to_superspine_overlay}} multipath
set protocols bgp group {{v4_to_superspine_overlay}} multihop ttl {{ebgp_multihop}}
set protocols bgp group {{v4_to_superspine_overlay}} multihop no-nexthop-change

set protocols bgp group {{v4_to_leaf_underlay}} type external
set protocols bgp group {{v4_to_leaf_underlay}} family inet unicast
set protocols bgp group {{v4_to_leaf_underlay}} authentication-key {{bgp_password}}
set protocols bgp group {{v4_to_leaf_underlay}} export IPV4-CONNECTED-TO-BGP
set protocols bgp group {{v4_to_leaf_underlay}} bfd-liveness-detection minimum-interval 300
set protocols bgp group {{v4_to_leaf_underlay}} multipath
set protocols bgp group {{v4_to_leaf_underlay}} multipath multiple-as

set protocols bgp group {{v6_to_leaf_underlay}} type external
set protocols bgp group {{v6_to_leaf_underlay}} family inet6 unicast
set protocols bgp group {{v6_to_leaf_underlay}} authentication-key {{bgp_password}}
set protocols bgp group {{v6_to_leaf_underlay}} export IPV6-CONNECTED-TO-BGP
set protocols bgp group {{v6_to_leaf_underlay}} bfd-liveness-detection minimum-interval 300
set protocols bgp group {{v6_to_leaf_underlay}} multipath
set protocols bgp group {{v6_to_leaf_underlay}} multipath multiple-as

set protocols bgp group {{v4_to_leaf_overlay}} type external
set protocols bgp group {{v4_to_leaf_overlay}} authentication-key {{bgp_password}}
set protocols bgp group {{v4_to_leaf_overlay}} local-address {{loopback0_seed}}.{{level_index}}.{{spine_index}}
set protocols bgp group {{v4_to_leaf_overlay}} family evpn signaling
set protocols bgp group {{v4_to_leaf_overlay}} multipath
set protocols bgp group {{v4_to_leaf_overlay}} multihop ttl {{ebgp_multihop}}
set protocols bgp group {{v4_to_leaf_overlay}} multihop no-nexthop-change
set protocols bgp group {{v4_to_leaf_overlay}} multipath multiple-as
