{# make sure spine group share the same AS #}
{% if spine_index % 4 != 0  %}
   {% set group_as_index =  (spine_index / 4) | int  + 1 %}
{% else %}
   {% set group_as_index =  (spine_index / 4) | int %}
{% endif %}

{% set asn_string = (spine_asn_seed + group_as_index) | string %}

{% for fabric in fab_interfaces %}
 {% if fabric.peer_role == "leaf" %}
   {% for i in range ( fabric.local_link_index | length) %}

     {% set combined_port_index = ((fabric.local_link_index[i] -1) *4) | int + fabric.local_link_subindex[i] %}

     {% set local_v4address_to_leaf = ((spine_index - 1) * 256 + (combined_port_index - 1) *2) | int %}
     {% set remote_ip_last_octet_on_leaf = ((local_v4address_to_leaf + 1) % 256) | string %}
     {% set remote_ip_3rd_octet_on_leaf = ((((local_v4address_to_leaf + 1) / 256) | int) + v4_p2p_t0t1_seed) | string %}

      {# make sure leaf pair share the same AS #}
      {% if fabric.peer_index[i] % 2 == 1 %}
        {% set leaf_as_index =  (fabric.peer_index[i] / 2) | int  + 1 %}
      {% else %}
        {% set leaf_as_index =  (fabric.peer_index[i] / 2) | int %}
      {% endif %}

      {% set remote_as = (leaf_asn_seed + leaf_as_index) | string %}

set protocols bgp group {{v4_to_leaf_underlay}} neighbor {{v4_p2p_seed}}.{{remote_ip_3rd_octet_on_leaf}}.{{remote_ip_last_octet_on_leaf}} description "{{fabric.peer_role}} {{fabric.peer_index[i]}}"
set protocols bgp group {{v4_to_leaf_underlay}} neighbor {{v4_p2p_seed}}.{{remote_ip_3rd_octet_on_leaf}}.{{remote_ip_last_octet_on_leaf}} peer-as {{remote_as}}

set protocols bgp group {{v6_to_leaf_underlay}} neighbor {{v6_p2p_seed}}:{{remote_ip_3rd_octet_on_leaf}}:{{remote_ip_last_octet_on_leaf}} description "{{fabric.peer_role}} {{fabric.peer_index[i]}}"
set protocols bgp group {{v6_to_leaf_underlay}} neighbor {{v6_p2p_seed}}:{{remote_ip_3rd_octet_on_leaf}}:{{remote_ip_last_octet_on_leaf}} peer-as {{remote_as}}

set protocols bgp group {{v4_to_leaf_overlay}} neighbor {{loopback0_seed}}.{{lower_level_index}}.{{fabric.peer_index[i]}} description "{{fabric.peer_role}} {{fabric.peer_index[i]}} overlay"
set protocols bgp group {{v4_to_leaf_overlay}} neighbor {{loopback0_seed}}.{{lower_level_index}}.{{fabric.peer_index[i]}} peer-as {{remote_as}}

   {% endfor %}
 {% endif %}

 {% if fabric.peer_role == "superspine" %}
   {% for i in range ( fabric.local_link_index | length) %}
     {% set local_v4address_to_superspine = (((fabric.peer_index[i] -1) * 64) + ((fabric.peer_link_index[i] - 1) *2) + 1) %}
     {% set remote_ip_last_octet_on_superspine = ((local_v4address_to_superspine -1) % 256) | string %}
     {% set remote_ip_3rd_octet_on_superspine = (((local_v4address_to_superspine -1) / 256) | int) | string %}


set protocols bgp group {{v4_to_superspine_underlay}} neighbor {{v4_p2p_seed}}.{{remote_ip_3rd_octet_on_superspine}}.{{remote_ip_last_octet_on_superspine}} description "{{fabric.peer_role}} {{fabric.peer_index[i]}}"
set protocols bgp group {{v4_to_superspine_underlay}} neighbor {{v4_p2p_seed}}.{{remote_ip_3rd_octet_on_superspine}}.{{remote_ip_last_octet_on_superspine}} peer-as {{superspine_asn}}

set protocols bgp group {{v6_to_superspine_underlay}} neighbor {{v6_p2p_seed}}:{{remote_ip_3rd_octet_on_superspine}}:{{remote_ip_last_octet_on_superspine}} description "{{fabric.peer_role}} {{fabric.peer_index[i]}}"
set protocols bgp group {{v6_to_superspine_underlay}} neighbor {{v6_p2p_seed}}:{{remote_ip_3rd_octet_on_superspine}}:{{remote_ip_last_octet_on_superspine}}  peer-as {{superspine_asn}}

set protocols bgp group {{v4_to_superspine_overlay}} neighbor {{loopback0_seed}}.{{upper_level_index}}.{{fabric.peer_index[i]}} description "{{fabric.peer_role}} {{fabric.peer_index[i]}} overlay"
set protocols bgp group {{v4_to_superspine_overlay}} neighbor {{loopback0_seed}}.{{upper_level_index}}.{{fabric.peer_index[i]}} peer-as {{superspine_asn}}


   {% endfor %}
 {% endif %}

{% endfor %}
