
set interfaces lo0 unit 0 family inet address {{loopback0_seed}}.{{level_index}}.{{spine_index}}/32
set interfaces lo0 unit 0 family inet6 address {{loopback60_seed}}:{{level_index}}:{{spine_index}}/128

set protocols lldp management-address {{loopback0_seed}}.{{level_index}}.{{spine_index}}


{% for fabric in fab_interfaces %}
  {% if fabric.peer_role == "leaf" %}
    {% for i in range ( fabric.local_link_index | length) %}
      {% set combined_port_index = ((fabric.local_link_index[i] -1) *4) + fabric.local_link_subindex[i] %}

      {% set local_v4address_to_leaf = ((spine_index - 1) * 256 + (combined_port_index - 1) *2) | int %}
      {% set local_ip_last_octet_to_leaf = (local_v4address_to_leaf % 256) | string %}
      {% set local_ip_3rd_octet_to_leaf = (((local_v4address_to_leaf / 256) | int) + v4_p2p_t0t1_seed) | string %}

{# need to represent breakout later with {{fabric.local_link_index[i]/local_link_subindex[i] #}

set interfaces {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}} gigether-options 802.3ad ae{{combined_port_index}}
set interfaces {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}} description "PHY|{{leaf_uplink_speed}}|AGG-MEMBER|rhost:{{fabric.peer_role}}{{fabric.peer_index[i]}}|rport:{{intf_name_designation}}{{intf_separator}}{{fabric.peer_link_index[i]}}"

set interfaces ae{{combined_port_index}} description "Bundle|{{leaf_uplink_speed}}|EBGP|rhost:{{fabric.peer_role}}{{fabric.peer_index[i]}}|rport:ae{{fabric.peer_link_index[i]}}"
set interfaces ae{{combined_port_index}} apply-groups DC-ET-AE-L2-OPTIONS
set interfaces ae{{combined_port_index}} unit 0 family inet address {{v4_p2p_seed}}.{{local_ip_3rd_octet_to_leaf}}.{{local_ip_last_octet_to_leaf}}/31
set interfaces ae{{combined_port_index}} unit 0 family inet6 address {{v6_p2p_seed}}:{{local_ip_3rd_octet_to_leaf}}:{{local_ip_last_octet_to_leaf}}/127
set protocols pim interface ae{{combined_port_index}}.0  apply-groups DC-PIM-OPTIONS

    {% endfor %}
  {% endif %}

  {% if fabric.peer_role == "superspine" %}
    {% for i in range ( fabric.local_link_index | length) %}
      {% set local_v4address_to_superspine = ( (fabric.peer_index[i] -1) * 64 + (((fabric.peer_link_index[i] | int) - 1) *2) + 1) %}
      {% set local_ip_last_octet_to_superspine =  (local_v4address_to_superspine % 256) | string %}
      {% set local_ip_3rd_octet_to_superspine =  ((local_v4address_to_superspine / 256 ) | int) | string %}

set interfaces  {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}} gigether-options 802.3ad ae{{fabric.local_link_index[i]}}
set interfaces  {{intf_name_designation}}{{intf_separator}}{{fabric.local_link_index[i]}} description "PHY|{{spine_uplink_speed}}|AGG-MEMBER|rhost:{{fabric.peer_role}}{{fabric.peer_index[i]}}|rport:{{intf_name_designation}}{{intf_separator}}{{fabric.peer_link_index[i]}}"

set interfaces ae{{fabric.local_link_index[i]}} description "Bundle|{{spine_uplink_speed}}|EBGP|rhost:{{fabric.peer_role}}{{fabric.peer_index[i]}}|rport:ae{{fabric.peer_link_index[i]}}"
set interfaces ae{{fabric.local_link_index[i]}} apply-groups DC-ET-AE-L2-OPTIONS
set interfaces ae{{fabric.local_link_index[i]}} unit 0 family inet address {{v4_p2p_seed}}.{{local_ip_3rd_octet_to_superspine}}.{{local_ip_last_octet_to_superspine}}/31
set interfaces ae{{fabric.local_link_index[i]}} unit 0 family inet6 address  {{v6_p2p_seed}}:{{local_ip_3rd_octet_to_superspine}}:{{local_ip_last_octet_to_superspine}}/127
set protocols pim interface ae{{fabric.local_link_index[i]}}.0 apply-groups DC-PIM-OPTIONS

    {% endfor %}
  {% endif %}
{% endfor %}
