{% set myswitch = leaf[inventory_hostname] %}
{% set spine_idx = myswitch.idx % 2 %}
{% set spine_port_idx = (myswitch.idx / 2 )|int %}
!
{#
Second loopback for vxlan
interface Loopback1
  ip address {{t0_eos_lo1_starting_v4}}{{(myswitch.idx / 2 )|int}}/32
!
#}
{# allow lo0 #}
ip prefix-list loopback permit {{t0_starting_lo0_v4}}{{myswitch.idx+11}}/32
{# allow my peer's lo0 #}
{% if 't0' in group_names  %}
{% if myswitch.idx % 2 == 0  %}
ip prefix-list loopback permit {{t0_starting_lo0_v4}}{{myswitch.idx +1 +11}}/32
{% else %}
ip prefix-list loopback permit {{t0_starting_lo0_v4}}{{myswitch.idx -1 +11}}/32
{% endif %}
{% endif %}

{#
Route map config
#}
route-map loopback-only permit 10
  match ip address prefix-list loopback
!
{% if 't0' in group_names  %}
route-map ibgp_import permit 10
   set local-preference 99
!
{% endif %}
{#
BGP Configuration
#}
router bgp {{ t0_starting_asn + (myswitch.idx/2)|int }}
  router-id {{t0_starting_lo0_v4}}{{myswitch.idx+11}}
  maximum-paths 64 ecmp 64
  timers bgp 3 10
  neighbor underlay_ipfabric peer-group
  neighbor underlay_ipfabric next-hop-self
{% if 't0_uborder' not in group_names  %}
  neighbor underlay_ipfabric route-map loopback-only out
{% endif %}
{# Uplink peers #}
{% for i in range( 0, 2 ) %}
  neighbor {{t1_t0_starting_ip_v4}}{{spine_idx*2 + i + 100}}.{{spine_port_idx*2}} peer-group underlay_ipfabric
  neighbor {{t1_t0_starting_ip_v4}}{{spine_idx*2 + i + 100}}.{{spine_port_idx*2}} remote-as {{t1_starting_asn + spine_idx }}
{% endfor %}
  !
{% if 't0' in group_names  %}
{# Cross link ibgp t0 only, not on border leaf #}
  neighbor underlay_pair peer-group
  neighbor underlay_pair next-hop-self
  neighbor underlay_pair route-map ibgp_import in
  neighbor underlay_pair remote-as {{ t0_starting_asn + (myswitch.idx/2)|int }}
{% if (myswitch.idx % 2) == 1  %}
  neighbor {{global.eos_mlag_addr}}5 peer-group underlay_pair
{% else %}
  neighbor {{global.eos_mlag_addr}}6 peer-group underlay_pair
{% endif %}
{% endif %}

  redistribute connected route-map loopback-only
  exit
!
