{% set myswitch = leaf[inventory_hostname] %}
{% set spine_idx = myswitch.idx % 2 %}
{% set spine_port_idx = (myswitch.idx / 2 )|int %}
!
interface e3
  no switchport
  mtu {{global.eos_mtu_l3}}
  ip address 1.2.{{myswitch.idx%2 + 1}}.2/30
!


{#
default Route map config
#}
ip prefix-list default-only permit 0.0.0.0/0
!
route-map default-only permit 10
  match ip address prefix-list default-only
!
router bgp {{ t0_starting_asn + (myswitch.idx/2)|int }}
{#
  neighbor underlay_ipfabric route-map default-only out
#}
  !
  neighbor underlay_uplink peer-group
  neighbor underlay_uplink next-hop-self
  neighbor underlay_uplink remote-as {{router.asn}}
  neighbor 1.2.{{myswitch.idx%2 + 1}}.1 peer-group underlay_uplink
