{% set myswitch = os_spine[inventory_hostname] %}
!
hostname {{ inventory_hostname }}

interface e1
  no switchport
  mtu {{global.eos_mtu_l2}}
  ip address 1.1.{{myswitch.idx+3}}.2/30
!

vlan 10 - 41
vlan 699

vlan 4094
   name mlag_peer
   trunk group mlag-only

!
interface Vlan4094
   no autostate
   ip address {{global.eos_mlag_addr}}{{(myswitch.idx % 2)+1}}/30
interface e3
  description mlag
  mtu {{global.eos_mtu_l2}}
  channel-group 3 mode active
!
interface Port-Channel3
  description mlag_{{(myswitch.idx / 2 )|int}}
  switchport mode trunk
  switchport trunk group mlag-only
!
mlag configuration
  domain-id mlag_os_spine
  reload-delay 300
  local-interface Vlan4094
{% if (myswitch.idx % 2) == 1  %}
  peer-address {{global.eos_mlag_addr}}1
{% else %}
  peer-address {{global.eos_mlag_addr}}2
{% endif %}
  peer-link Port-Channel3

no int port-Channel 2
int port-Channel 2
  switchport trunk native vlan {{cv2.qinq_vlan}}
  switchport mode trunk
  mlag 2
!
interface e2
  channel-group 2 mode active
  mtu {{global.eos_mtu_l2}}
exit
!
no int port-Channel 4
int port-Channel 4
  switchport mode trunk
  mlag 4
!
interface e4
  channel-group 4 mode active
  mtu {{global.eos_mtu_l2}}
exit

no int port-Channel 5
int port-Channel 5
{# switchport mode trunk  #}
  switchport mode access
  switchport access vlan 699
  mlag 5
!
interface e5
  channel-group 5 mode active
  mtu {{global.eos_mtu_l2}}
exit
!
no int port-Channel 6
int port-Channel 6
  switchport mode trunk
  mlag 6
!
interface e6
  channel-group 6 mode active
  mtu {{global.eos_mtu_l2}}
exit

ip routing

ip prefix-list os_nets permit 10.0.10.0/24
ip prefix-list os_nets permit 10.0.30.0/24
ip prefix-list os_nets permit 10.0.40.0/24

route-map os_nets permit 10
  match ip address prefix-list os_nets

router bgp {{os_spine.asn}}
  maximum-paths 64 ecmp 64
  timers bgp 3 10
  neighbor dc_uplink peer-group
  neighbor dc_uplink next-hop-self
  neighbor dc_uplink remote-as {{router.asn}}
  neighbor 1.1.{{myswitch.idx+3}}.1 peer-group dc_uplink
  redistribute connected route-map os_nets
  address-family ipv4
    neighbor dc_uplink activate
