{% set myswitch = leaf[inventory_hostname] %}
{% set spine_idx = myswitch.idx % 2 %}
{% set spine_port_idx = (myswitch.idx / 2 )|int %}

{# Configure ebgp evpn #}
set routing-options autonomous-system {{ t0_starting_asn + (myswitch.idx/2)|int }} loops 1

set protocols bgp family evpn signaling loops 1
set protocols bgp group overlay_evpn type external
set protocols bgp group overlay_evpn local-address {{t0_starting_lo0_v4}}{{myswitch.idx+11}}
set protocols bgp group overlay_evpn family evpn signaling
set protocols bgp group overlay_evpn multipath
set protocols bgp group overlay_evpn multihop ttl 3
set protocols bgp group overlay_evpn multihop no-nexthop-change

{# Add neighbors #}
{% for i in range( 0, 2) %}
set protocols bgp group overlay_evpn neighbor {{t2t1_starting_lo0_v4}}{{(myswitch.idx%2)*2 +i +spine.t2_devices+1}} peer-as {{t1_starting_asn + spine_idx }}
{% endfor %}


{# Configure rib interface #}
{% for i in range( 0, myswitch.vlans|length) %}
{% set list = myswitch.subnets[i].split('/') %}
{% set list2 = list[0].split('.') %}
set interfaces irb unit {{myswitch.vlans[i]}} family inet address {{ list2[0]}}.{{list2[1]}}.{{list2[2]}}.{{ (list2[3])|int + 1 }}/{{list[1]}}
set interfaces irb unit {{myswitch.vlans[i]}} mac {{t0_virtual_mac}}
{% endfor %}

{#
{% for i in range( 0, myswitch.vlans|length) %}
{% set list = myswitch.subnets[i].split('/') %}
{% set list2 = list[0].split('.') %}
set interfaces irb unit {{myswitch.vlans[i]}} virtual-gateway-accept-data
set interfaces irb unit {{myswitch.vlans[i]}} proxy-arp
set interfaces irb unit {{myswitch.vlans[i]}} family inet address {{ list2[0]}}.{{list2[1]}}.{{list2[2]}}.{{ (list2[3])|int + 2 }}/{{list[1]}} virtual-gateway-address {{ list2[0]}}.{{list2[1]}}.{{list2[2]}}.{{ (list2[3])|int + 1 }}
set interfaces irb unit {{myswitch.vlans[i]}} virtual-gateway-v4-mac {{t0_virtual_mac}}
{% endfor %}
#}

{# Configure evpn protocol #}
set protocols evpn encapsulation vxlan
set protocols evpn default-gateway do-not-advertise
set protocols evpn extended-vni-list all
set protocols evpn multicast-mode ingress-replication

{# Configure Switch option #}
set switch-options vtep-source-interface lo0.0
set switch-options route-distinguisher {{t0_starting_lo0_v4}}{{myswitch.idx+11}}:1
set switch-options vrf-target target:{{ t0_starting_asn + (myswitch.idx/2)|int }}:1
set switch-options vrf-import evpn_vrf_in
set switch-options vrf-target auto
{% for i in range( 0, t0_asns ) %}
set switch-options vrf-target auto import-as {{t0_starting_asn + i }} vni-list all
{% endfor %}

{# Configure vlan #}
{% for i in range( 0, myswitch.vlans|length) %}
set vlans V{{myswitch.vlans[i]}} vlan-id {{myswitch.vlans[i]}}
set vlans V{{myswitch.vlans[i]}} l3-interface irb.{{myswitch.vlans[i]}}
set vlans V{{myswitch.vlans[i]}} vxlan vni {{myswitch.vlans[i]|int + 10000}}
{% endfor %}
set vlans default vlan-id 1

{# Configure tenant vrf   #}
set routing-instances {{t0_evpn_vrf}} instance-type vrf
set routing-instances {{t0_evpn_vrf}} interface lo0.10
set routing-instances {{t0_evpn_vrf}} route-distinguisher {{t0_starting_lo0_v4}}{{myswitch.idx+11}}:10
set routing-instances {{t0_evpn_vrf}} vrf-target target:10:10
set routing-instances {{t0_evpn_vrf}} vrf-table-label
set routing-instances {{t0_evpn_vrf}} routing-options multipath
set routing-instances {{t0_evpn_vrf}} protocols evpn ip-prefix-routes advertise direct-nexthop
set routing-instances {{t0_evpn_vrf}} protocols evpn ip-prefix-routes encapsulation vxlan
set routing-instances {{t0_evpn_vrf}} protocols evpn ip-prefix-routes vni {{t0_vrf_vni}}
set routing-instances {{t0_evpn_vrf}} protocols evpn ip-prefix-routes export evpn_vrf_out
{% for i in range( 0, myswitch.vlans|length) %}
set routing-instances {{t0_evpn_vrf}} interface irb.{{myswitch.vlans[i]}}
{% endfor %}


{# loopback0 unit for vrf #}
set interfaces lo0 unit 10 family inet address {{t0_starting_lo0_v4}}{{myswitch.idx+11+100}}/32

{# Configure evpn route policy inbound #}
{% for i in range( 0, t0_asns ) %}
set policy-options community ASN{{t0_starting_asn + i }} members target:{{t0_starting_asn + i }}:1
set policy-options policy-statement evpn_vrf_in term allowed_asn from community ASN{{t0_starting_asn + i }}
{% endfor %}
set policy-options policy-statement evpn_vrf_in term allowed_asn then accept

{# Configure evpn route policy outbound #}
{% if 't0' in group_names  %}
set policy-options policy-statement evpn_vrf_out term tenant_net from protocol evpn
set policy-options policy-statement evpn_vrf_out term tenant_net from protocol direct
{% for i in range( 0, myswitch.vlans|length) %}
set policy-options policy-statement evpn_vrf_out term tenant_net from route-filter {{myswitch.subnets[i]}} orlonger
{% endfor %}
set policy-options policy-statement evpn_vrf_out term tenant_net then accept
{% endif %}

{% if 't0_border' in group_names  %}
set policy-options policy-statement evpn_vrf_out term tenant_net from protocol evpn
set policy-options policy-statement evpn_vrf_out term tenant_net from protocol bgp
set policy-options policy-statement evpn_vrf_out term tenant_net then accept
{% endif %}

{# Configure server port #}
{#
{% for i in range( 0, myswitch.server_ports|length) %}
{% if myswitch.server_ports[i]|int > 0  %}
set interfaces xe-0/0/{{i+3}} unit 0 family ethernet-switching interface-mode access
set interfaces xe-0/0/{{i+3}} unit 0 family ethernet-switching vlan members VLAN{{myswitch.server_ports[i]}}
{% endif %}
{% endfor %}
#}


{#set up lacp server port, esi etc.  not working yet#}
{##}

{% for i in range( 0, myswitch.server_ports|length) %}
{% if myswitch.server_ports[i]|int > 0  %}
set interfaces xe-0/0/{{i+3}} gigether-options 802.3ad ae{{i+3}}
set interfaces ae{{i+3}} aggregated-ether-options lacp active
set interfaces ae{{i+3}} aggregated-ether-options lacp periodic fast
set interfaces ae{{i+3}} aggregated-ether-options lacp system-id 0{{(myswitch.idx/2)|int}}:0{{i+3}}:01:01:01:01
set interfaces ae{{i+3}} unit 0 family ethernet-switching interface-mode access
set interfaces ae{{i+3}} unit 0 family ethernet-switching vlan members V{{myswitch.server_ports[i]}}
set interfaces ae{{i+3}} esi auto-derive lacp
set interfaces ae{{i+3}} esi all-active
{% endif %}
{% endfor %}

{# Border leaf #}
{##}
{% if 't0_border' in group_names  %}
set interfaces xe-0/0/3 unit 0 family inet address {{myswitch.uplink_ip}}
set routing-instances {{t0_evpn_vrf}} interface xe-0/0/3.0

set routing-instances {{t0_evpn_vrf}} protocols bgp mtu-discovery
set routing-instances {{t0_evpn_vrf}} protocols bgp peer-as {{myswitch.uplink_asn}}
set routing-instances {{t0_evpn_vrf}} protocols bgp multipath multiple-as
set routing-instances {{t0_evpn_vrf}} protocols bgp group uplink type external
set routing-instances {{t0_evpn_vrf}} protocols bgp group uplink family inet unicast
set routing-instances {{t0_evpn_vrf}} protocols bgp group uplink export uplink_out

{% set list = myswitch.uplink_ip.split('/') %}
{% set list2 = list[0].split('.') %}
set routing-instances {{t0_evpn_vrf}} protocols bgp group uplink neighbor {{list2[0]}}.{{list2[1]}}.{{list2[2]}}.{{ (list2[3])|int - 1 }}

set policy-options policy-statement uplink_out term tenant_net from protocol evpn
set policy-options policy-statement uplink_out term tenant_net from route-filter 10.0.10.0/24 exact
set policy-options policy-statement uplink_out term tenant_net from route-filter 10.0.20.0/24 exact
set policy-options policy-statement uplink_out term tenant_net from route-filter 10.0.30.0/24 exact
{% for i in range( 0, myswitch.vlans|length) %}
{% endfor %}
set policy-options policy-statement uplink_out term tenant_net then accept
{% endif %}
