{% set myswitch = spine[inventory_hostname] %}

{#
set protocols evpn encapsulation vxlan
set protocols evpn default-gateway do-not-advertise
set protocols evpn extended-vni-list all
#}


set protocols bgp group overlay_evpn type external
set protocols bgp group overlay_evpn local-address {{t2t1_starting_lo0_v4}}{{myswitch.idx+spine.t2_devices+1}}
set protocols bgp group overlay_evpn family evpn signaling
set protocols bgp group overlay_evpn multipath multiple-as
set protocols bgp group overlay_evpn multihop ttl 3
set protocols bgp group overlay_evpn multihop no-nexthop-change


{#
# evpn-ebgp to T2
#}
{% for i in range( 0, spine.t2_devices ) %}
set protocols bgp group overlay_evpn neighbor {{t2t1_starting_lo0_v4}}{{i+1}} peer-as  {{t2_asn}}
{% endfor %}

{#
# evpn-ebgp to T0
#}
{% for i in range( 0, t1_t0_port_number) %}
set protocols bgp group overlay_evpn neighbor {{t0_starting_lo0_v4}}{{(myswitch.idx/2)|int  + i*2 +11}} peer-as {{ t0_starting_asn + i }}
{% endfor %}
