{% set myswitch = spine[inventory_hostname] %}

{#
set protocols evpn encapsulation vxlan
set protocols evpn default-gateway do-not-advertise
set protocols evpn extended-vni-list all
#}

{#
# evpn-ebgp to T1
#}
set protocols bgp group overlay_evpn type external
set protocols bgp group overlay_evpn local-address {{t2t1_starting_lo0_v4}}{{myswitch.idx+1}}
set protocols bgp group overlay_evpn family evpn signaling
set protocols bgp group overlay_evpn multipath
set protocols bgp group overlay_evpn multihop ttl 3
set protocols bgp group overlay_evpn multihop no-nexthop-change




{% for i in range( 0, spine.t1_devices ) %}
set protocols bgp group overlay_evpn neighbor {{t2t1_starting_lo0_v4}}{{i+spine.t2_devices+1}} peer-as {{t1_starting_asn+(i/2)|int}}
{% endfor %}
