{% set myswitch = leaf[inventory_hostname] %}
{% set spine_idx = myswitch.idx % 2 %}
{% set spine_port_idx = (myswitch.idx / 2 )|int %}
{#
# T0-T1 p2p configuration
#}
!
{% for i in range( 0, 2 ) %}
interface e{{ i+1 }}
  no switchport
  mtu 9214
  ip address {{t1_t0_starting_ip_v4}}{{spine_idx*2 + i + 100}}.{{spine_port_idx*2+1}}/31
!
{% endfor %}
{#
# loopback interface configuration
#}
interface Loopback0
  ip address {{t0_starting_lo0_v4}}{{myswitch.idx+11}}/32
